<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/bluedevil-5.10.3.tar.xz">bluedevil-5.10.3</a></td>
   <td align="right">141kB</td>
   <td><tt>cf80706d6966abaa7073c73cfce1361510995f272611b979116c626e1168130f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/breeze-5.10.3.tar.xz">breeze-5.10.3</a></td>
   <td align="right">16MB</td>
   <td><tt>0a71e095d0f54795ab359f5419e07b56435815b86b9f0779b134f5ac1b411f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/breeze-grub-5.10.3.tar.xz">breeze-grub-5.10.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>bff049f510900fae621659d291a887334154b9cc1a210c16e0cb3495d83e0fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/breeze-gtk-5.10.3.tar.xz">breeze-gtk-5.10.3</a></td>
   <td align="right">206kB</td>
   <td><tt>ecea0d88229bb8d6bce1572d5895aaaef08265c4a0183029433ebc74da84222a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/breeze-plymouth-5.10.3.tar.xz">breeze-plymouth-5.10.3</a></td>
   <td align="right">102kB</td>
   <td><tt>89ea367030ccff7d1f739aaf60d8877a3c027e1fe788f87e2d6a215d22f78988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/discover-5.10.3.tar.xz">discover-5.10.3</a></td>
   <td align="right">9.7MB</td>
   <td><tt>16a3d09164ccd2250ad25c1485d4d443565fb04792da6226d7bf1eba3ed837a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kactivitymanagerd-5.10.3.tar.xz">kactivitymanagerd-5.10.3</a></td>
   <td align="right">82kB</td>
   <td><tt>109fafe79c333726ad913b141ff8abab13e96449eb988b635c4a64aecbf39df8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kde-cli-tools-5.10.3.tar.xz">kde-cli-tools-5.10.3</a></td>
   <td align="right">491kB</td>
   <td><tt>9a1fec582e47daf5a89f1c7d6bb747495708f2a75633962f73159b246121b3f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kdecoration-5.10.3.tar.xz">kdecoration-5.10.3</a></td>
   <td align="right">34kB</td>
   <td><tt>03225e132e1915e14300c4d44b7faa6262adbfe5725d01299330071cb6cd5e91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kde-gtk-config-5.10.3.tar.xz">kde-gtk-config-5.10.3</a></td>
   <td align="right">148kB</td>
   <td><tt>15f089b559486889de5330e3c2e19946426baa18db6316a314f3e1c7d3992d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kdeplasma-addons-5.10.3.tar.xz">kdeplasma-addons-5.10.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>fa3e6639cd002b6a4d90f4f8cc0a784b72489098410ef2f149ae10148ae2f3d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kgamma5-5.10.3.tar.xz">kgamma5-5.10.3</a></td>
   <td align="right">58kB</td>
   <td><tt>9ea5ce98616076f717836b709f3daa86a61493c4cb9f63c71cc469d6836caca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/khotkeys-5.10.3.tar.xz">khotkeys-5.10.3</a></td>
   <td align="right">682kB</td>
   <td><tt>e47b1481376246f988afd0355b95f3032ec56d3639b7cdad7222327b375e7df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kinfocenter-5.10.3.tar.xz">kinfocenter-5.10.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d3810c556196aece308406ceef762cfd0eb9241476e73eb84260b2e5cee72429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kmenuedit-5.10.3.tar.xz">kmenuedit-5.10.3</a></td>
   <td align="right">635kB</td>
   <td><tt>02a2f711a6e06940427eacebd1a4cab724a7f2a941342ea25ce385cb658c99f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kscreen-5.10.3.tar.xz">kscreen-5.10.3</a></td>
   <td align="right">112kB</td>
   <td><tt>d49e0511540554322e1ae81130e1c320db7027455513da26e202e5e86b55880e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kscreenlocker-5.10.3.tar.xz">kscreenlocker-5.10.3</a></td>
   <td align="right">108kB</td>
   <td><tt>fdfb049edf35acec8e551946787d765469748fee00d94b2921f8d3a767d5601e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/ksshaskpass-5.10.3.tar.xz">ksshaskpass-5.10.3</a></td>
   <td align="right">19kB</td>
   <td><tt>8c805721754374ce854254d9eec61a0742610ddda32341e0fc0dbdd548439e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/ksysguard-5.10.3.tar.xz">ksysguard-5.10.3</a></td>
   <td align="right">475kB</td>
   <td><tt>3a9c45069c08834c2e73d1afbf476810c72b8d3532ce12d01c40c3a546c3ff55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kwallet-pam-5.10.3.tar.xz">kwallet-pam-5.10.3</a></td>
   <td align="right">17kB</td>
   <td><tt>f574d10866867325746fd5e59b8429ff83e8bd3bdaf2d9f2245949ea68dada5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kwayland-integration-5.10.3.tar.xz">kwayland-integration-5.10.3</a></td>
   <td align="right">18kB</td>
   <td><tt>490f0401db109ef48872f38b46674e81a253a65924b606a12e56fde07b2dddbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kwin-5.10.3.1.tar.xz">kwin-5.10.3.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>199e3a2593e9e66bbd6521ee8a25a012003d15f6b4bf2f102c70b798c9abd03a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/kwrited-5.10.3.tar.xz">kwrited-5.10.3</a></td>
   <td align="right">19kB</td>
   <td><tt>3851830daedce48e21bdc56b5aed5ff7f3b90af87038cd945ded8cc7cbdf5e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/libkscreen-5.10.3.tar.xz">libkscreen-5.10.3</a></td>
   <td align="right">91kB</td>
   <td><tt>90f0e9fbdb716b18b52955fd8d526b0a4bc61ef3edd62be2bc4baa2fabd30c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/libksysguard-5.10.3.tar.xz">libksysguard-5.10.3</a></td>
   <td align="right">550kB</td>
   <td><tt>108138f370eb23ad504be4f513ab2e30999ebdf13a34eff32c0d7a294791478f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/milou-5.10.3.tar.xz">milou-5.10.3</a></td>
   <td align="right">54kB</td>
   <td><tt>abc7ff2d45398c641dec2d69465658f52e21268c4676a377b7c496edfae56fa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/oxygen-5.10.3.tar.xz">oxygen-5.10.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>9b3a92c8f0be7fc9f24d2fd834cd1942f410d122bf064362d26211446daa581e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plasma-desktop-5.10.3.tar.xz">plasma-desktop-5.10.3</a></td>
   <td align="right">5.8MB</td>
   <td><tt>2d80e114839902dece61da06f306649db946ff9fa9732726da37b2ad5ed294ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plasma-integration-5.10.3.tar.xz">plasma-integration-5.10.3</a></td>
   <td align="right">50kB</td>
   <td><tt>b6387a7fab2224307d63dad3bc0dedb12e17443ce79c02f383263389f7e7efee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plasma-nm-5.10.3.tar.xz">plasma-nm-5.10.3</a></td>
   <td align="right">678kB</td>
   <td><tt>b8ff4e7833890c08daca50bf2f142665d604a0c82f9e3a8e0dc0f0ce38b313b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plasma-pa-5.10.3.tar.xz">plasma-pa-5.10.3</a></td>
   <td align="right">77kB</td>
   <td><tt>7d87d05ebb3f1632aa64cdffa3cea32a6afa29a3808f0d415b27f434a89b13b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plasma-sdk-5.10.3.tar.xz">plasma-sdk-5.10.3</a></td>
   <td align="right">241kB</td>
   <td><tt>8340bc21e386083f21091e822275eec77199d7b1acbf6081c4eb8056a4338254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plasma-tests-5.10.3.tar.xz">plasma-tests-5.10.3</a></td>
   <td align="right">1kB</td>
   <td><tt>0b2f057d6a5d03df3e59f20cfb93565c43f86441a95f91a3aec6030dff2af612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plasma-workspace-5.10.3.tar.xz">plasma-workspace-5.10.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>69d7513ad0ba0acc224cd0dee824795c20e8733f52704e3cf3dca5f6ae6cdf71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plasma-workspace-wallpapers-5.10.3.tar.xz">plasma-workspace-wallpapers-5.10.3</a></td>
   <td align="right">43MB</td>
   <td><tt>ee0c301c5fa1e9c7fa9961fbbd4f43c9945e1a80f089fdcfba566536e7f50d6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/plymouth-kcm-5.10.3.tar.xz">plymouth-kcm-5.10.3</a></td>
   <td align="right">32kB</td>
   <td><tt>cdc48c8c2af97f57b778e22deaa72109c84bf5225a278df4122e89a3f0e4456b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/polkit-kde-agent-1-5.10.3.tar.xz">polkit-kde-agent-1-5.10.3</a></td>
   <td align="right">40kB</td>
   <td><tt>46dbf28a877e302a4224216337872c859f17e985d055df901b27b843f2a75433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/powerdevil-5.10.3.tar.xz">powerdevil-5.10.3</a></td>
   <td align="right">352kB</td>
   <td><tt>27ae7f82c1436d4248cbfefb3936602ab1abd1ec10508a567d7e4fddac425376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/sddm-kcm-5.10.3.tar.xz">sddm-kcm-5.10.3</a></td>
   <td align="right">56kB</td>
   <td><tt>0c792bf29939659c660c12cb07a927cc6c81c7e623644d2491bd4534695094bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/systemsettings-5.10.3.tar.xz">systemsettings-5.10.3</a></td>
   <td align="right">152kB</td>
   <td><tt>5092c0841b12204e543ee1ba78379472831ce1859fdfb500c67efc42fff6cc55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/user-manager-5.10.3.tar.xz">user-manager-5.10.3</a></td>
   <td align="right">531kB</td>
   <td><tt>d6a574102e3ae7ba6e0eafa29df627afbbec90d6cf64d2078b1bc4bbc8d03182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.3/xdg-desktop-portal-kde-5.10.3.tar.xz">xdg-desktop-portal-kde-5.10.3</a></td>
   <td align="right">27kB</td>
   <td><tt>ed7d2af02ca714251e0db605af57c80ab0b665b5224143ba57ca581782e0cbc2</tt></td>
</tr>

</table>
