<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/baloo-5.9.0.tar.xz">baloo-5.9.0</a></td>
   <td align="right">140kB</td>
   <td><tt>d64fa65d2d0c2f063a6bc68232a9799709082cf8e10c9473c48c496b7f35d3d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/bluedevil-5.3.0.tar.xz">bluedevil-5.3.0</a></td>
   <td align="right">118kB</td>
   <td><tt>98f4e9373fd5b2e236b5b335524709ec23309c31f1a33e853698ddefe61c802f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/bluez-qt-5.3.0.tar.xz">bluez-qt-5.3.0</a></td>
   <td align="right">61kB</td>
   <td><tt>05db3e81f00b164aeec7183e6816b5e74ddbca41ced2f0b1a0f972151d5a987d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/breeze-5.3.0.tar.xz">breeze-5.3.0</a></td>
   <td align="right">27MB</td>
   <td><tt>93ed542922847f6be9684aff21c627d5cab1c1e14116f24ef360ae23095fb989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kde-cli-tools-5.3.0.tar.xz">kde-cli-tools-5.3.0</a></td>
   <td align="right">474kB</td>
   <td><tt>c7a63778f8595e64099c9f6e8b72bf94d8d224a60d77e8f4910cbe993023278a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kdecoration-5.3.0.tar.xz">kdecoration-5.3.0</a></td>
   <td align="right">32kB</td>
   <td><tt>6df491dcb083b2d86c18c0f1afff51c84ecc21b6705f72d852cfb8ce50c37ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kde-gtk-config-5.3.0.tar.xz">kde-gtk-config-5.3.0</a></td>
   <td align="right">140kB</td>
   <td><tt>8ec14b07880fdb9029e29439e83ab365cda5db3d0fec6219e00a9433569ef2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kdeplasma-addons-5.3.0.tar.xz">kdeplasma-addons-5.3.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9472cf37d0f85fd1446e8f4e73fc7d221330c03241585cc549d28c52b1460682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kfilemetadata-5.9.0.tar.xz">kfilemetadata-5.9.0</a></td>
   <td align="right">117kB</td>
   <td><tt>5c92b9edf53de8bb4f5ce7efed9c858cb6726eefd265ac43d8178fa0fd6dec65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/khelpcenter-5.3.0.tar.xz">khelpcenter-5.3.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7102a2969153e9a929fdbeaa53b7aab0b4f8a981f97071f119d0d62fd80267fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/khotkeys-5.3.0.tar.xz">khotkeys-5.3.0</a></td>
   <td align="right">594kB</td>
   <td><tt>443510037bdd51b177efa273bfb34c8c3d40d293944bec420fab0b7acc3ebea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kinfocenter-5.3.0.tar.xz">kinfocenter-5.3.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3cb666bc974d26e269cf07f050049b47bb523530e14ab60802ee0c1902b7f60b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kio-extras-5.3.0.tar.xz">kio-extras-5.3.0</a></td>
   <td align="right">599kB</td>
   <td><tt>0e523e936eebc4f19a7f65ab48709055ea4ccdfda2853059a826dca61859ce58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kmenuedit-5.3.0.tar.xz">kmenuedit-5.3.0</a></td>
   <td align="right">297kB</td>
   <td><tt>3255a5170279e5d74b8d0f2f2b3371aee855b92f87dd20ed742a613908a0ff4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kscreen-5.3.0.tar.xz">kscreen-5.3.0</a></td>
   <td align="right">90kB</td>
   <td><tt>58c72697a0a3fbf28f605bd6c43c97e33d5b0b31be0331838ae8cffc35a638b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/ksshaskpass-5.3.0.tar.xz">ksshaskpass-5.3.0</a></td>
   <td align="right">17kB</td>
   <td><tt>a4286a659f27169d509e141c83e1a250de3f3fc4741c68f021b05b384cb0f3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/ksysguard-5.3.0.tar.xz">ksysguard-5.3.0</a></td>
   <td align="right">464kB</td>
   <td><tt>919f8944f870151ec657372ea186d34333da6df621b26fc195c23ed6a9d8e25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kwayland-5.3.0.tar.xz">kwayland-5.3.0</a></td>
   <td align="right">90kB</td>
   <td><tt>99598a9fd17d9e79f69646f0ac32e6d4fb0c8aa09da58c886cca22332de41dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kwin-5.3.0.tar.xz">kwin-5.3.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>164f6cac36e12e7aac5ae1fff2c72dc616980751d877d701dd6057d9abac6fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/kwrited-5.3.0.tar.xz">kwrited-5.3.0</a></td>
   <td align="right">18kB</td>
   <td><tt>4dd1529c602330c6f2238b344bbd6e8fff5ce5b5b986e458036165fe68b66757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/libkscreen-5.3.0.tar.xz">libkscreen-5.3.0</a></td>
   <td align="right">69kB</td>
   <td><tt>4dd23d72d0fa54cfaa23d62c93ab0a01ad75c4d7023895b23a47c450e890afc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/libksysguard-5.3.0.tar.xz">libksysguard-5.3.0</a></td>
   <td align="right">545kB</td>
   <td><tt>9b083b54951e5ac3aa638cccf1a54f720566c18f30a4cc20b7a3ac5067ee6899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/milou-5.3.0.tar.xz">milou-5.3.0</a></td>
   <td align="right">49kB</td>
   <td><tt>5857081b91a6537d110608901b4eac4b0e8aa627f608a8b4d243f1c86fdf2d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/muon-5.3.0.tar.xz">muon-5.3.0</a></td>
   <td align="right">1013kB</td>
   <td><tt>196c63d899ac9399993e3353d630b769d965ec1d0fa884028dd70277c5b52b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/oxygen-5.3.0.tar.xz">oxygen-5.3.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e3d8d37e4178b00324a99a04b0a40b6c4544f913d2887727cda6047599fda528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/oxygen-fonts-5.3.0.tar.xz">oxygen-fonts-5.3.0</a></td>
   <td align="right">157kB</td>
   <td><tt>9ea4aa8c5488ab069e3d16e70a26fb8f9e3be1af2c2e67080b82ac5243b23872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/plasma-desktop-5.3.0.tar.xz">plasma-desktop-5.3.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>376112701ee3ad29d9b5701887e5e1eb79b06e5ad3a0f1cdf3792f16eed01939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/plasma-mediacenter-5.3.0.tar.xz">plasma-mediacenter-5.3.0</a></td>
   <td align="right">150kB</td>
   <td><tt>b74ea0c980c8ca6eb4ab53a92f09987596a3b10e1563dbef79e89a57cbd886c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/plasma-nm-5.3.0.tar.xz">plasma-nm-5.3.0</a></td>
   <td align="right">509kB</td>
   <td><tt>2a7b31a0b6a69ba062fb96702dd7215b4d2a44bede93d909853a8c915b968dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/plasma-sdk-5.3.0.tar.xz">plasma-sdk-5.3.0</a></td>
   <td align="right">624kB</td>
   <td><tt>2ef5619fc6f7aac7a13798c05f4d00a47e5e1527fcdb8ba1e8ff52865c2171ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/plasma-workspace-5.3.0.tar.xz">plasma-workspace-5.3.0</a></td>
   <td align="right">6.5MB</td>
   <td><tt>95f5b2319ca0c63f883e5350760d234eb2ee1a57f21e612f9ac35b0ded467316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/plasma-workspace-wallpapers-5.3.0.tar.xz">plasma-workspace-wallpapers-5.3.0</a></td>
   <td align="right">48MB</td>
   <td><tt>4ada62b8f33cf70ebf53ba3cc67177eebd8980da3f883247ea4498428823914d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/polkit-kde-agent-1-5.3.0.tar.xz">polkit-kde-agent-1-5.3.0</a></td>
   <td align="right">38kB</td>
   <td><tt>39426953445a4cbc48c88c5346097455c941648c908b0e06474154a949192c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/powerdevil-5.3.0.tar.xz">powerdevil-5.3.0</a></td>
   <td align="right">343kB</td>
   <td><tt>15b2f95f50288a3be3786d652ddca9ecccb734f7099e0bf78127a85cbf1f25df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/sddm-kcm-5.3.0.tar.xz">sddm-kcm-5.3.0</a></td>
   <td align="right">45kB</td>
   <td><tt>8cf1efef36bd021da77ab39a5ef250d42dc04bbecda3343e61b65dfa4d53a097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.3.0/systemsettings-5.3.0.tar.xz">systemsettings-5.3.0</a></td>
   <td align="right">150kB</td>
   <td><tt>701bf4a62c55dafcd9994d9e193c0895b7d531422f674b5548a664435aaad067</tt></td>
</tr>

</table>
