
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/attica-5.19.0.tar.xz">attica-5.19.0</a></td>
   <td align="right">58kB</td>
   <td><tt>ca96082de3aaf1f800da76a42f1b7d82023edc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/baloo-5.19.0.tar.xz">baloo-5.19.0</a></td>
   <td align="right">178kB</td>
   <td><tt>f73ccc4cf5c5cd31635be4dc20556a1da9971a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/bluez-qt-5.19.0.tar.xz">bluez-qt-5.19.0</a></td>
   <td align="right">71kB</td>
   <td><tt>24fbba15d7c5e27f0dd575d7127ec8464317e3e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/breeze-icons-5.19.0.tar.xz">breeze-icons-5.19.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c6c6bd4bf8d98fff9f833a8e68d719e19fccd82b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/extra-cmake-modules-5.19.0.tar.xz">extra-cmake-modules-5.19.0</a></td>
   <td align="right">278kB</td>
   <td><tt>5e5cafe2725f51d4befc37d79f9d05303a3c94b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/frameworkintegration-5.19.0.tar.xz">frameworkintegration-5.19.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a4e1f5944b5d4d5e9a767862cc1c227473407702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kactivities-5.19.0.tar.xz">kactivities-5.19.0</a></td>
   <td align="right">148kB</td>
   <td><tt>4a9f00d3419d9e01bcf902bddbcf43e3072f7664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kapidox-5.19.0.tar.xz">kapidox-5.19.0</a></td>
   <td align="right">129kB</td>
   <td><tt>3b55291c4fc57bb0b79ec34d957145204c35d38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/karchive-5.19.0.tar.xz">karchive-5.19.0</a></td>
   <td align="right">106kB</td>
   <td><tt>bf7472bb344b33720135fd1b409d5bcf1da48ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kauth-5.19.0.tar.xz">kauth-5.19.0</a></td>
   <td align="right">80kB</td>
   <td><tt>0bd8dd1580f222e3b0096cd2573a7f548930aefa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kbookmarks-5.19.0.tar.xz">kbookmarks-5.19.0</a></td>
   <td align="right">112kB</td>
   <td><tt>c643f4691c10fa9077f2c3edde5a9f7aced2dd6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kcmutils-5.19.0.tar.xz">kcmutils-5.19.0</a></td>
   <td align="right">229kB</td>
   <td><tt>763036a99e25f246c16b750385468edfe1b84277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kcodecs-5.19.0.tar.xz">kcodecs-5.19.0</a></td>
   <td align="right">212kB</td>
   <td><tt>f29a1644775ebc42fe53d4f58c9cbca03f5fc00c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kcompletion-5.19.0.tar.xz">kcompletion-5.19.0</a></td>
   <td align="right">113kB</td>
   <td><tt>70583acb189b471a89af43d8a8d2a215e79a033d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kconfig-5.19.0.tar.xz">kconfig-5.19.0</a></td>
   <td align="right">219kB</td>
   <td><tt>2f6839aefdabe3af5c12e2b354d189cda70fa977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kconfigwidgets-5.19.0.tar.xz">kconfigwidgets-5.19.0</a></td>
   <td align="right">350kB</td>
   <td><tt>ae1f1c1030c398479fd5fc8cdd74d8e6f9acdd50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kcoreaddons-5.19.0.tar.xz">kcoreaddons-5.19.0</a></td>
   <td align="right">305kB</td>
   <td><tt>6e328ce186277929c69c0541673c914008abf362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kcrash-5.19.0.tar.xz">kcrash-5.19.0</a></td>
   <td align="right">19kB</td>
   <td><tt>96124526e5bd55f159b2bc2e1ec19e22ab159dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kdbusaddons-5.19.0.tar.xz">kdbusaddons-5.19.0</a></td>
   <td align="right">33kB</td>
   <td><tt>9f9f526395b7fe6de1ac22f1282f508ae8f9cec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kdeclarative-5.19.0.tar.xz">kdeclarative-5.19.0</a></td>
   <td align="right">163kB</td>
   <td><tt>f6c68ec305f72dbae1b13a4baf7126fd62a99b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kded-5.19.0.tar.xz">kded-5.19.0</a></td>
   <td align="right">35kB</td>
   <td><tt>679cc351ec8a5d61f1d5ca5795908211ea0c8938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kdesignerplugin-5.19.0.tar.xz">kdesignerplugin-5.19.0</a></td>
   <td align="right">85kB</td>
   <td><tt>995b58e3209ee53c664d09d0ace0225889fae18c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kdesu-5.19.0.tar.xz">kdesu-5.19.0</a></td>
   <td align="right">43kB</td>
   <td><tt>6d89ecb5a77bd25c39371aae8d3a44b7b78f68dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kdewebkit-5.19.0.tar.xz">kdewebkit-5.19.0</a></td>
   <td align="right">28kB</td>
   <td><tt>08a2c1184b84e2a88ef072c4bddaa4ee42269c8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kdnssd-5.19.0.tar.xz">kdnssd-5.19.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d7177f571a237643506c9fb10ac4ccf2d086472a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kdoctools-5.19.0.tar.xz">kdoctools-5.19.0</a></td>
   <td align="right">398kB</td>
   <td><tt>34537f2f72a1e664d75223761876bf4845253bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kemoticons-5.19.0.tar.xz">kemoticons-5.19.0</a></td>
   <td align="right">92kB</td>
   <td><tt>d077b5f8b63c54f46eae715702fa8e5de84ebadb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kfilemetadata-5.19.0.tar.xz">kfilemetadata-5.19.0</a></td>
   <td align="right">121kB</td>
   <td><tt>26966653137ef247beffa9f69965f5d16661c135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kglobalaccel-5.19.0.tar.xz">kglobalaccel-5.19.0</a></td>
   <td align="right">79kB</td>
   <td><tt>84bf35a6311023f30192d0516961541c1a32f141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kguiaddons-5.19.0.tar.xz">kguiaddons-5.19.0</a></td>
   <td align="right">38kB</td>
   <td><tt>547625d9c910a643c0c8d4ec8f42e657da3e9959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/ki18n-5.19.0.tar.xz">ki18n-5.19.0</a></td>
   <td align="right">585kB</td>
   <td><tt>e90d8c51217cd6d5a3881a259f048cd914811284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kiconthemes-5.19.0.tar.xz">kiconthemes-5.19.0</a></td>
   <td align="right">191kB</td>
   <td><tt>5927dee0b64e9b06a51e1c378de6c65e4604e707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kidletime-5.19.0.tar.xz">kidletime-5.19.0</a></td>
   <td align="right">25kB</td>
   <td><tt>2abed5508e2b068864018d1b7ca65351ac2e8402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kimageformats-5.19.0.tar.xz">kimageformats-5.19.0</a></td>
   <td align="right">199kB</td>
   <td><tt>c7058bc31669489b17c0b862fdd2aa4f2c1fc6b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kinit-5.19.0.tar.xz">kinit-5.19.0</a></td>
   <td align="right">115kB</td>
   <td><tt>53ea2c7a5748a39fb0e57cb90f4c9856c688d4a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kio-5.19.0.tar.xz">kio-5.19.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>593fb1dbd3460a254a8bf33c533489fd640cb2d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kitemmodels-5.19.0.tar.xz">kitemmodels-5.19.0</a></td>
   <td align="right">374kB</td>
   <td><tt>5db30f5513567bab52d499381390fa122170e641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kitemviews-5.19.0.tar.xz">kitemviews-5.19.0</a></td>
   <td align="right">72kB</td>
   <td><tt>c0cf577b8c65accf4f498556b92ec85e73453a35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kjobwidgets-5.19.0.tar.xz">kjobwidgets-5.19.0</a></td>
   <td align="right">86kB</td>
   <td><tt>69becc0abf9f31698acd441270083d5ca63a7d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/knewstuff-5.19.0.tar.xz">knewstuff-5.19.0</a></td>
   <td align="right">839kB</td>
   <td><tt>03ee2e999083a5febc6693b451e90f352e3545bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/knotifications-5.19.0.tar.xz">knotifications-5.19.0</a></td>
   <td align="right">91kB</td>
   <td><tt>d0531416cecc8f2bd2c3b9b11335035c63f7e490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/knotifyconfig-5.19.0.tar.xz">knotifyconfig-5.19.0</a></td>
   <td align="right">81kB</td>
   <td><tt>0cb4508986a0b97b0d3c1ee986dda4105c0219c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kpackage-5.19.0.tar.xz">kpackage-5.19.0</a></td>
   <td align="right">104kB</td>
   <td><tt>6c1ba79db1adc2c6fed5781c25317eb37d7c7b70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kparts-5.19.0.tar.xz">kparts-5.19.0</a></td>
   <td align="right">150kB</td>
   <td><tt>11312ed35a70bcc127c3b00aaaca9d99168407ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kpeople-5.19.0.tar.xz">kpeople-5.19.0</a></td>
   <td align="right">56kB</td>
   <td><tt>c0abbcddc57448ebaa5838d2fa01128b16844c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kplotting-5.19.0.tar.xz">kplotting-5.19.0</a></td>
   <td align="right">28kB</td>
   <td><tt>3b952ebed34132fc0ccb4decc77d406ab8c6c810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kpty-5.19.0.tar.xz">kpty-5.19.0</a></td>
   <td align="right">55kB</td>
   <td><tt>8015ecf248e13a604521f98601ccd03f418d1e96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kservice-5.19.0.tar.xz">kservice-5.19.0</a></td>
   <td align="right">262kB</td>
   <td><tt>7c329f995d1e8e47795b1441c493dafbf426a0b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/ktexteditor-5.19.0.tar.xz">ktexteditor-5.19.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>cce7da654563dc02fca14c082c76c8c7469ed13f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/ktextwidgets-5.19.0.tar.xz">ktextwidgets-5.19.0</a></td>
   <td align="right">299kB</td>
   <td><tt>ae6aae6eb5251f308c2e986fef017f79be56b02c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kunitconversion-5.19.0.tar.xz">kunitconversion-5.19.0</a></td>
   <td align="right">605kB</td>
   <td><tt>7e864ab671a65d0249d296db5a459ca52f63265c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kwallet-5.19.0.tar.xz">kwallet-5.19.0</a></td>
   <td align="right">280kB</td>
   <td><tt>d7d1997a7c163306c5419936f7be11b6f07d6a95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kwidgetsaddons-5.19.0.tar.xz">kwidgetsaddons-5.19.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4d506cfd00239f927e7f528f14e682dbb50f0ae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kwindowsystem-5.19.0.tar.xz">kwindowsystem-5.19.0</a></td>
   <td align="right">159kB</td>
   <td><tt>f3ff2213c8f63fe2ea228e59acb61120c1cbc9ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kxmlgui-5.19.0.tar.xz">kxmlgui-5.19.0</a></td>
   <td align="right">844kB</td>
   <td><tt>80fb062a48c3e30004dd4801b81dc9ac1b69b542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/kxmlrpcclient-5.19.0.tar.xz">kxmlrpcclient-5.19.0</a></td>
   <td align="right">27kB</td>
   <td><tt>30311529073027d6043980faa632738f2d442c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/modemmanager-qt-5.19.0.tar.xz">modemmanager-qt-5.19.0</a></td>
   <td align="right">96kB</td>
   <td><tt>eec4e5c34a5fdcc24b9735f89e7c5f6683b8b4d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/networkmanager-qt-5.19.0.tar.xz">networkmanager-qt-5.19.0</a></td>
   <td align="right">152kB</td>
   <td><tt>6c0bc4a366695e9a6f2ac810e35b4fbcfb64be1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/oxygen-icons5-5.19.0.tar.xz">oxygen-icons5-5.19.0</a></td>
   <td align="right">222MB</td>
   <td><tt>f9b2bfc58b7cea9aa24d4bacddc60c23d287c161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/plasma-framework-5.19.0.tar.xz">plasma-framework-5.19.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>075037c13a450cc8fab9cbf6e9292cf5f32efef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/solid-5.19.0.tar.xz">solid-5.19.0</a></td>
   <td align="right">261kB</td>
   <td><tt>a2d7f46daeae79ff542d5882b7536271849327ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/sonnet-5.19.0.tar.xz">sonnet-5.19.0</a></td>
   <td align="right">275kB</td>
   <td><tt>51bd9df1b338f8762c8b75fb2f41b3443b6eda69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.19/threadweaver-5.19.0.tar.xz">threadweaver-5.19.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>aa4ccc27c739c752479349140f3c61b0b5b7068d</tt></td>
</tr>

</table>
