<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadi-24.01.90.tar.xz">akonadi-24.01.90</a></td>
   <td align="right">1632kB</td>
   <td><tt>72d11f016d9dd114be5d3dcb4b749095e550060325e919dcd1b90fe86db526cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadi-calendar-24.01.90.tar.xz">akonadi-calendar-24.01.90</a></td>
   <td align="right">477kB</td>
   <td><tt>0a83783b17ec7727c01501cee67f044f465785c3ee7ef4df6c88a1006e069352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadi-calendar-tools-24.01.90.tar.xz">akonadi-calendar-tools-24.01.90</a></td>
   <td align="right">253kB</td>
   <td><tt>60f92fdbb72b1870a3027a8f52daf90f8792907c898e6d8ba3173c38dc093690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadiconsole-24.01.90.tar.xz">akonadiconsole-24.01.90</a></td>
   <td align="right">283kB</td>
   <td><tt>e99f4181da44b60f5ca6e8c3480bd4d58997eff001f900d58508f6f8140061e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadi-contacts-24.01.90.tar.xz">akonadi-contacts-24.01.90</a></td>
   <td align="right">415kB</td>
   <td><tt>d3acda8e7a5c5a607d70abb13dd3892b4038697a47f95d90a870945fe1fef5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadi-import-wizard-24.01.90.tar.xz">akonadi-import-wizard-24.01.90</a></td>
   <td align="right">504kB</td>
   <td><tt>73a6228ce4a0c65af3bcbd5abf3bc92539fd42aec8a5ddbb77755d47b3d15138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadi-mime-24.01.90.tar.xz">akonadi-mime-24.01.90</a></td>
   <td align="right">164kB</td>
   <td><tt>70928eb60a3f58e5208e0e439c89c0c18bf4229790bbf4afd126489c98728f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadi-notes-24.01.90.tar.xz">akonadi-notes-24.01.90</a></td>
   <td align="right">27kB</td>
   <td><tt>d131762ae4881de6685e3041520276d9a91b2ad340f5da7b72bcbe32692aaf3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akonadi-search-24.01.90.tar.xz">akonadi-search-24.01.90</a></td>
   <td align="right">108kB</td>
   <td><tt>b63e03d08694338dc3bd3b326f99c2dbc4ec605f7242a45de64b7a0ecd76b654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/akregator-24.01.90.tar.xz">akregator-24.01.90</a></td>
   <td align="right">2273kB</td>
   <td><tt>e3e5dfa9c3e7751c3c9c4349f12a13fa93ec94c39a6066f90a4908ddd541a930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/alligator-24.01.90.tar.xz">alligator-24.01.90</a></td>
   <td align="right">187kB</td>
   <td><tt>05c67ed1e41bbd39ef6f5aa99bf0d52d065fe012c52ef17206a0a693a2cf95f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/analitza-24.01.90.tar.xz">analitza-24.01.90</a></td>
   <td align="right">350kB</td>
   <td><tt>abd5d100974ae8d3de26b474de1ab0a168eb20e32007302f6341ba6761c518eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/angelfish-24.01.90.tar.xz">angelfish-24.01.90</a></td>
   <td align="right">257kB</td>
   <td><tt>8ff6744ec60217b2b40c35eace2a747921d7564c7fad98256f3190a5dec58039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/arianna-24.01.90.tar.xz">arianna-24.01.90</a></td>
   <td align="right">797kB</td>
   <td><tt>5a4fa8eef9c299bdd97b7caf4b9797d9906d6b04b19e4d16be6b38578edd27a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ark-24.01.90.tar.xz">ark-24.01.90</a></td>
   <td align="right">2945kB</td>
   <td><tt>c28a6818f40904de0eae7cbc7d1f27e17b4cb0d4a05f4324ed53ca52d960ccb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/artikulate-24.01.90.tar.xz">artikulate-24.01.90</a></td>
   <td align="right">1068kB</td>
   <td><tt>92cd7d7f7ec50ea635dbff776abd5f1c6115ab99347c1efbb107fcc51e733736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/audiocd-kio-24.01.90.tar.xz">audiocd-kio-24.01.90</a></td>
   <td align="right">557kB</td>
   <td><tt>ad7f2caf1f3c6e644f1f5d24b9209b957737a5057fad56a6e6c772d8d45b6772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/audiotube-24.01.90.tar.xz">audiotube-24.01.90</a></td>
   <td align="right">146kB</td>
   <td><tt>57689d1aef175acdf455e1e801b3b94938e8df76a6576cc892ca4932a63cc277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/baloo-widgets-24.01.90.tar.xz">baloo-widgets-24.01.90</a></td>
   <td align="right">270kB</td>
   <td><tt>15ed315947dc988db665f510754b81bbaa965708c256c0bfe8570ce66e68b110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/blinken-24.01.90.tar.xz">blinken-24.01.90</a></td>
   <td align="right">2660kB</td>
   <td><tt>395f682689802e3191ff55a435123c6d0da30ca9166c40d28c6d199ce43d89de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/bomber-24.01.90.tar.xz">bomber-24.01.90</a></td>
   <td align="right">820kB</td>
   <td><tt>da16d53cce6f5e4a50b9e34e20b40cb4f10471a14d4bd9413cae37ad609f6f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/bovo-24.01.90.tar.xz">bovo-24.01.90</a></td>
   <td align="right">210kB</td>
   <td><tt>d19d0dce77b4940bd1317a63c2b3299682b60e1ccc8569115c41abbe98cc9788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/calendarsupport-24.01.90.tar.xz">calendarsupport-24.01.90</a></td>
   <td align="right">974kB</td>
   <td><tt>bdbebe72e89803fb4b947614084811587948053e8b1a4ccc452606f5150542e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/calindori-24.01.90.tar.xz">calindori-24.01.90</a></td>
   <td align="right">378kB</td>
   <td><tt>9394e28ed8a0c1eaf9354a01d143406b263acf3520c926082e51c09777c610b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/cantor-24.01.90.tar.xz">cantor-24.01.90</a></td>
   <td align="right">9079kB</td>
   <td><tt>a0b07fd96d6248b71eeff41f0dc58f5b5f51a445e6ce8b9fc49b251d1ec75839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/cervisia-24.01.90.tar.xz">cervisia-24.01.90</a></td>
   <td align="right">1902kB</td>
   <td><tt>6fd84b75da739f7945df6217b3f3e0692a18345ebd8d57da8f416a0f2d8dabbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/colord-kde-24.01.90.tar.xz">colord-kde-24.01.90</a></td>
   <td align="right">106kB</td>
   <td><tt>e9088fbc2811b822251b08deb8e9c4d2d442dc204a85f7cadf9c0b23b2537450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/dolphin-24.01.90.tar.xz">dolphin-24.01.90</a></td>
   <td align="right">5669kB</td>
   <td><tt>f524cd10c52c4a6a7b52278d787bc1a8254cb9d0eb28d333096fa88597cbdbe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/dolphin-plugins-24.01.90.tar.xz">dolphin-plugins-24.01.90</a></td>
   <td align="right">284kB</td>
   <td><tt>a77a09fbc3cc4618d6a5fe353cdb1f04e5d8e5abf1750084730c1a151ecaf16b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/dragon-24.01.90.tar.xz">dragon-24.01.90</a></td>
   <td align="right">1631kB</td>
   <td><tt>114084f83e99913b3c9d87f40f7e9234f1ecfdc8c2dbf663d119c1dda338d893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/elisa-24.01.90.tar.xz">elisa-24.01.90</a></td>
   <td align="right">1785kB</td>
   <td><tt>5d2857d2e09ef9f3fc770cf7f0eaa78f8db2edc849dc49dfed5b161cc31f8183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/eventviews-24.01.90.tar.xz">eventviews-24.01.90</a></td>
   <td align="right">461kB</td>
   <td><tt>22e5fcacc04e80cfdbf72690efc3515c2c28c33ab56a3d17af97141210467c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/falkon-24.01.90.tar.xz">falkon-24.01.90</a></td>
   <td align="right">2528kB</td>
   <td><tt>ae186f56a903ffbeddb1e794050f099e47bda796373ef14e408f393e291bfb4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ffmpegthumbs-24.01.90.tar.xz">ffmpegthumbs-24.01.90</a></td>
   <td align="right">32kB</td>
   <td><tt>58604962837df216b5b4bdc0e24de717c5cc4b76bb782164890fe48528679802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/filelight-24.01.90.tar.xz">filelight-24.01.90</a></td>
   <td align="right">687kB</td>
   <td><tt>d4800a9ccff050617386c4a9aba93c1961848050e4b7bba009710687a3c6e259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ghostwriter-24.01.90.tar.xz">ghostwriter-24.01.90</a></td>
   <td align="right">3543kB</td>
   <td><tt>873b9c3e850310bbbb34752ca924f0970943b0c89f0162d36e3e24031c1b1ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/granatier-24.01.90.tar.xz">granatier-24.01.90</a></td>
   <td align="right">2064kB</td>
   <td><tt>96eabb0adcb808a6e97cc30cff9bda0159e3b6180559cfe7a767f94cca74a273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/grantlee-editor-24.01.90.tar.xz">grantlee-editor-24.01.90</a></td>
   <td align="right">116kB</td>
   <td><tt>b7bb16a7a8438cc608306816d83262be7ba11189e0fd8758249da2cf0f40ed8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/grantleetheme-24.01.90.tar.xz">grantleetheme-24.01.90</a></td>
   <td align="right">60kB</td>
   <td><tt>4292f3449ce3a6c55fe1fe9ab16a81da549e82f8bfd521e5f1dfbd10ab8a6e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/gwenview-24.01.90.tar.xz">gwenview-24.01.90</a></td>
   <td align="right">6753kB</td>
   <td><tt>7bb6e2654a10a9f3c37f5f29dc527ad138d52c49bbecdb3bc40772ba994cbc39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/incidenceeditor-24.01.90.tar.xz">incidenceeditor-24.01.90</a></td>
   <td align="right">569kB</td>
   <td><tt>603aab627d49fc66ebfc99abc5ce855708419838468a288e7dbd6bc1e0643c2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/isoimagewriter-24.01.90.tar.xz">isoimagewriter-24.01.90</a></td>
   <td align="right">448kB</td>
   <td><tt>95fa04ccb8d1947d6418fc3880c3464e6d3fefc834b989e40463f6214f0beec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/itinerary-24.01.90.tar.xz">itinerary-24.01.90</a></td>
   <td align="right">665kB</td>
   <td><tt>de003b47014ec8269845668990ca4d5cad7bc45f7649553e7eb15bef42c4b1f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/juk-24.01.90.tar.xz">juk-24.01.90</a></td>
   <td align="right">1972kB</td>
   <td><tt>034babb291848a0e13cc194ac3762cc6bbe53ddd48b969a3e8732b8ab5555cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/k3b-24.01.90.tar.xz">k3b-24.01.90</a></td>
   <td align="right">10711kB</td>
   <td><tt>faa6848a34c9dcadfc2b056109495298f80bfd15ef53f1fa8c35f99569011963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kaccounts-integration-24.01.90.tar.xz">kaccounts-integration-24.01.90</a></td>
   <td align="right">88kB</td>
   <td><tt>458ec171b6355fd02ebf050f50fa07f831fac73ff45451017f83215b42f68f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kaccounts-providers-24.01.90.tar.xz">kaccounts-providers-24.01.90</a></td>
   <td align="right">65kB</td>
   <td><tt>74f8ca073eb467cb0bbeaeb97e91b606432c8527f35fce379688244a31ebbed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kaddressbook-24.01.90.tar.xz">kaddressbook-24.01.90</a></td>
   <td align="right">3379kB</td>
   <td><tt>57b0bef5af51e92f1dd4937808b6ee0d1e343a10d0c0c3641116bc4a98519579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kajongg-24.01.90.tar.xz">kajongg-24.01.90</a></td>
   <td align="right">4483kB</td>
   <td><tt>e8be8141504c6ce48d5b420499427998a10577d1bd370f3a5ab532fe9e2178b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kalarm-24.01.90.tar.xz">kalarm-24.01.90</a></td>
   <td align="right">2566kB</td>
   <td><tt>6f9ff6f8163c6958e6f1b1eb2f138e5dd05724d5645171fe5cc545308aa84760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kalgebra-24.01.90.tar.xz">kalgebra-24.01.90</a></td>
   <td align="right">1022kB</td>
   <td><tt>5577b7abc75c8163c69cb904518b89b709d07fe5e4ebebe4fabad134ba1bd7ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kalk-24.01.90.tar.xz">kalk-24.01.90</a></td>
   <td align="right">70kB</td>
   <td><tt>730ce9c2e2dcddaa7c92c355fbbf8664da946fe5bc546a38a87873b5a491e973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kalzium-24.01.90.tar.xz">kalzium-24.01.90</a></td>
   <td align="right">24061kB</td>
   <td><tt>d19be75e998cdd5f42bfd4490a072f5f32c38dc00e9c0522edc3a0683a683ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kamera-24.01.90.tar.xz">kamera-24.01.90</a></td>
   <td align="right">127kB</td>
   <td><tt>1cac10d7f52cf241d3a0fdc51cd3c9141603fdd76346d2639e04f2d3c04fbacf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kamoso-24.01.90.tar.xz">kamoso-24.01.90</a></td>
   <td align="right">195kB</td>
   <td><tt>5703102e6e6e9e50331ba264d59a5acf114149c76b1f85333c92db76441e4322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kanagram-24.01.90.tar.xz">kanagram-24.01.90</a></td>
   <td align="right">7879kB</td>
   <td><tt>77e4d3e59e416ef979f4e34f46f71924f73fc65891bc15698a1e81ed364c5ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kapman-24.01.90.tar.xz">kapman-24.01.90</a></td>
   <td align="right">2141kB</td>
   <td><tt>e7c86d8b293e6a1996efbb21121cc773a452a8905e15e7d2f3ad94266c3c2d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kapptemplate-24.01.90.tar.xz">kapptemplate-24.01.90</a></td>
   <td align="right">331kB</td>
   <td><tt>3167e6984faf4167e546871de89b8803f17bbc301d567bca8699de1efc6e8035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kasts-24.01.90.tar.xz">kasts-24.01.90</a></td>
   <td align="right">573kB</td>
   <td><tt>339245ba7d265e254465c6c61690dd286da711bfd8124324cf5129d4a9c21faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kate-24.01.90.tar.xz">kate-24.01.90</a></td>
   <td align="right">8196kB</td>
   <td><tt>dcd62c462e837d3af42a9cb16dd9b349ba5061d1451c2d36318221e8a0f20790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/katomic-24.01.90.tar.xz">katomic-24.01.90</a></td>
   <td align="right">1419kB</td>
   <td><tt>5fdfd75a72c477c5561b1f1feab35b4a956e3ddb05c993d5c2c0ef000615b0c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kbackup-24.01.90.tar.xz">kbackup-24.01.90</a></td>
   <td align="right">399kB</td>
   <td><tt>0ce37a066405d59e58caa072cdb681d10cb040668cb8c6bfa29bc8e733043883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kblackbox-24.01.90.tar.xz">kblackbox-24.01.90</a></td>
   <td align="right">542kB</td>
   <td><tt>393a6defeb69d9ce110b6aa7331f5c0f796d9e19d6a191ccca8ed5a653be9555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kblocks-24.01.90.tar.xz">kblocks-24.01.90</a></td>
   <td align="right">2058kB</td>
   <td><tt>682ad2fb4999c8a52e41d42dab69e73ea87ea9864c677ef0fda47eb5b5598eba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kbounce-24.01.90.tar.xz">kbounce-24.01.90</a></td>
   <td align="right">3464kB</td>
   <td><tt>942c63af7c7994b7cbc012875be16903a1e8c63c093aa1d79466eeb215099b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kbreakout-24.01.90.tar.xz">kbreakout-24.01.90</a></td>
   <td align="right">2500kB</td>
   <td><tt>99612ceb3961f9351185fac8676e7f4689f5e8d9bb594ed363697f9b4cd44127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kbruch-24.01.90.tar.xz">kbruch-24.01.90</a></td>
   <td align="right">5530kB</td>
   <td><tt>b8a86abf8e4f3ee82b75d9a988374ca69609af22c682d8ba07298ccedae96060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kcachegrind-24.01.90.tar.xz">kcachegrind-24.01.90</a></td>
   <td align="right">914kB</td>
   <td><tt>e7db2568cf902949d60c0265756e083fbb67e6d972973326246c23264f5d4aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kcalc-24.01.90.tar.xz">kcalc-24.01.90</a></td>
   <td align="right">433kB</td>
   <td><tt>3122c2aedae4c03c5b437f1e6dd966ff043f94a50d4de2a5177d19c053a7e26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kcalutils-24.01.90.tar.xz">kcalutils-24.01.90</a></td>
   <td align="right">346kB</td>
   <td><tt>43e24a73e28985c3e85acac3adf80e1daa5647df5b16730fbc6e67729a583ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kcharselect-24.01.90.tar.xz">kcharselect-24.01.90</a></td>
   <td align="right">376kB</td>
   <td><tt>2896fb1d67eaa4fcd3f2e5673ea9729795ef524c380bbc719b1b19ba7dbc74c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kclock-24.01.90.tar.xz">kclock-24.01.90</a></td>
   <td align="right">631kB</td>
   <td><tt>cc9e9320f046d10717c491e82dab5fd86d37f0119c426c49053a7cfa935ac4ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kcolorchooser-24.01.90.tar.xz">kcolorchooser-24.01.90</a></td>
   <td align="right">33kB</td>
   <td><tt>7cfe93ee58af4f0ab85df06fd1bd9731ac3b9d501748327ee4fc2bff6e5e94be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kcron-24.01.90.tar.xz">kcron-24.01.90</a></td>
   <td align="right">920kB</td>
   <td><tt>d58984255d9db298ab9c1d52c815f3e1e0bbc3bdeba74deef4ce0a86efe56b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdebugsettings-24.01.90.tar.xz">kdebugsettings-24.01.90</a></td>
   <td align="right">106kB</td>
   <td><tt>b6b9024389b0f3cb63c92c96e57310a49982afe865d6dfcbb0a83c765dc6cae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdeconnect-kde-24.01.90.tar.xz">kdeconnect-kde-24.01.90</a></td>
   <td align="right">659kB</td>
   <td><tt>83db9d2039766b8605bd0322fbd4b4749063771715effb7875621cfc778018b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kde-dev-scripts-24.01.90.tar.xz">kde-dev-scripts-24.01.90</a></td>
   <td align="right">363kB</td>
   <td><tt>bd82355ba19723620b0b1a09b167747b76a9f96cace717be0244c4bc85e44725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kde-dev-utils-24.01.90.tar.xz">kde-dev-utils-24.01.90</a></td>
   <td align="right">71kB</td>
   <td><tt>17e618be7e153824620ef1bee060111687b12ef1280d33011f34ba987cb3475b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdeedu-data-24.01.90.tar.xz">kdeedu-data-24.01.90</a></td>
   <td align="right">330kB</td>
   <td><tt>7bc4309225f1edddab3196f20e8520eb5bb313abb7bb59a8a74684bb9a000dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdegraphics-mobipocket-24.01.90.tar.xz">kdegraphics-mobipocket-24.01.90</a></td>
   <td align="right">12kB</td>
   <td><tt>ecba6a923c422891ac62f973ed426314ed8f8bb7516e613db5481e967a174364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdegraphics-thumbnailers-24.01.90.tar.xz">kdegraphics-thumbnailers-24.01.90</a></td>
   <td align="right">46kB</td>
   <td><tt>e3b7a2f75957046557600f3e44bceb063f2d9a87ee97e83fd74820357e1d5bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kde-inotify-survey-24.01.90.tar.xz">kde-inotify-survey-24.01.90</a></td>
   <td align="right">225kB</td>
   <td><tt>ef20fc67ed633aa625cf10f91d02a42e0d478b8a8a1949eb6588965ffff15b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdenetwork-filesharing-24.01.90.tar.xz">kdenetwork-filesharing-24.01.90</a></td>
   <td align="right">476kB</td>
   <td><tt>cb858c25980528c2a4ca8c10870a8d0006219ab9a74880fa4b1b0143f1ee53a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdenlive-24.01.90.tar.xz">kdenlive-24.01.90</a></td>
   <td align="right">12499kB</td>
   <td><tt>8440d949d5f6ac7bef5da04da12c5545868f9171f1251aa666c3f5b76f6e3f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdepim-addons-24.01.90.tar.xz">kdepim-addons-24.01.90</a></td>
   <td align="right">2586kB</td>
   <td><tt>eed3e3a3d4eb3390d2914fb68bc26f93241a578cdfdd1c75e68bb78e13978403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdepim-runtime-24.01.90.tar.xz">kdepim-runtime-24.01.90</a></td>
   <td align="right">1634kB</td>
   <td><tt>a8d3512d50a93ddf26149eff13f719603659286bd0b765c27766eb5dc39d5b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdesdk-kio-24.01.90.tar.xz">kdesdk-kio-24.01.90</a></td>
   <td align="right">39kB</td>
   <td><tt>8bd1c29f451b4f38938e04cd03ceb3e941e13fc61c560a4d57fdf120768572c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdesdk-thumbnailers-24.01.90.tar.xz">kdesdk-thumbnailers-24.01.90</a></td>
   <td align="right">26kB</td>
   <td><tt>e24caa2f4d08f92875fde7b19f4d19aef4e7a0862581dce2008ca8a6ea3f59d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdevelop-24.01.90.tar.xz">kdevelop-24.01.90</a></td>
   <td align="right">8545kB</td>
   <td><tt>475c6798044845ab8c2ace141de88e384c883975faad9b1200f0e932741c3aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdev-php-24.01.90.tar.xz">kdev-php-24.01.90</a></td>
   <td align="right">1064kB</td>
   <td><tt>096f0ceb1814f9be6bfdd34899f3308d78f3b2af4cebd06c320c322609147adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdev-python-24.01.90.tar.xz">kdev-python-24.01.90</a></td>
   <td align="right">1072kB</td>
   <td><tt>b43506a83d0b99dc396f87ddad39e98ba26e297d5339fd9e70a2578e7e21756f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdf-24.01.90.tar.xz">kdf-24.01.90</a></td>
   <td align="right">482kB</td>
   <td><tt>c6c1efbeca214447176c3f80ad044e338de905436c08aeb42de28d41059ea8e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdialog-24.01.90.tar.xz">kdialog-24.01.90</a></td>
   <td align="right">139kB</td>
   <td><tt>1962592a21a65ca1db22318d1dfb94bc5c5ec0c14225842101ac06decde9b31d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kdiamond-24.01.90.tar.xz">kdiamond-24.01.90</a></td>
   <td align="right">4558kB</td>
   <td><tt>e24a8f5827c414e51da7a297c3b99049a7619ce5c98334dc19ffd5778441261f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/keditbookmarks-24.01.90.tar.xz">keditbookmarks-24.01.90</a></td>
   <td align="right">238kB</td>
   <td><tt>490bb8a4cdc1c189f567a468ab535f00ab498951090d12bc55521c332c0d4f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/keysmith-24.01.90.tar.xz">keysmith-24.01.90</a></td>
   <td align="right">165kB</td>
   <td><tt>596b140c446aa3cdf2e686a4ed94afaa06a32af7f2b3c61fe2790d60f69e17fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kfind-24.01.90.tar.xz">kfind-24.01.90</a></td>
   <td align="right">314kB</td>
   <td><tt>9a5415bbee807fd59a75fc2de56066bf0669bc557be7abd8335db5f0651b2a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kfourinline-24.01.90.tar.xz">kfourinline-24.01.90</a></td>
   <td align="right">722kB</td>
   <td><tt>9849da76d4c6741ca51a4a75bf4732d29f281aaf60e6e0a5643e5416507987d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kgeography-24.01.90.tar.xz">kgeography-24.01.90</a></td>
   <td align="right">12317kB</td>
   <td><tt>3932e65570fac1a2cadacacfe0ac10cdedaee92b5f6d562e150cd5737f3a2773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kget-24.01.90.tar.xz">kget-24.01.90</a></td>
   <td align="right">5435kB</td>
   <td><tt>38250ca52db0727264369b9c396c6072ce9a0e800964287d8407cc868a8518a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kgoldrunner-24.01.90.tar.xz">kgoldrunner-24.01.90</a></td>
   <td align="right">4263kB</td>
   <td><tt>7b3dd2cc1d57fa9cd81251820de031271a049d490fda7d6278c244d5c285b0c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kgpg-24.01.90.tar.xz">kgpg-24.01.90</a></td>
   <td align="right">2996kB</td>
   <td><tt>97a09c0661a8bbda995a0c544752e81f5e744476d5b298a0984bb633f5a8ff1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/khangman-24.01.90.tar.xz">khangman-24.01.90</a></td>
   <td align="right">7195kB</td>
   <td><tt>342482d18ab7a14e4009bdf834e37744e9711deefb1ba456f0b7601547579f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/khealthcertificate-24.01.90.tar.xz">khealthcertificate-24.01.90</a></td>
   <td align="right">502kB</td>
   <td><tt>b0964c8ac32f8a427cc822c16d5f13016f605cd1ac0dfde23d075312a0c76848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/khelpcenter-24.01.90.tar.xz">khelpcenter-24.01.90</a></td>
   <td align="right">4283kB</td>
   <td><tt>315055303d172229e3d08c10eda786bd3c61ed2f6754fb14c55fbea4f078ce84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kidentitymanagement-24.01.90.tar.xz">kidentitymanagement-24.01.90</a></td>
   <td align="right">176kB</td>
   <td><tt>d5f06ecb6edcbe79a99afc1faabb418cb06598f7de5353fc768268f6f9f4a6be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kig-24.01.90.tar.xz">kig-24.01.90</a></td>
   <td align="right">3220kB</td>
   <td><tt>d2b30180fe962974f25cf3951a5163f1ee8089da6127bc32dbf2e53e920e2d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kigo-24.01.90.tar.xz">kigo-24.01.90</a></td>
   <td align="right">5036kB</td>
   <td><tt>d61228ce781bae3e80c88374a0806908caefed8d4334ff59cdd63a2aa6a7bb8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/killbots-24.01.90.tar.xz">killbots-24.01.90</a></td>
   <td align="right">1135kB</td>
   <td><tt>19fa011074cb63130b3c201f4f20f5937a3786cdf6b2c734cfe590effa4bd172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kimagemapeditor-24.01.90.tar.xz">kimagemapeditor-24.01.90</a></td>
   <td align="right">1080kB</td>
   <td><tt>6a453938c94c5028560c7612dd92a4c30e803eb45232ee618050c292aa46e2b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kimap-24.01.90.tar.xz">kimap-24.01.90</a></td>
   <td align="right">127kB</td>
   <td><tt>f8fa8a7204a2708d43899d7bd522d6aa3e0fe2d159056d5ddc69262c261a07d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kio-admin-24.01.90.tar.xz">kio-admin-24.01.90</a></td>
   <td align="right">35kB</td>
   <td><tt>de7fb8c1ca3ded27f36dbe8a060c8c8accb206212e51a87df062d483b287d2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kio-extras-24.01.90.tar.xz">kio-extras-24.01.90</a></td>
   <td align="right">3469kB</td>
   <td><tt>d9a8b50e974ce51b0e4f49a3d9422a6f763121bb7a7e8d79e43e65b10e8458a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kio-extras-kf5-24.01.90.tar.xz">kio-extras-kf5-24.01.90</a></td>
   <td align="right">1431kB</td>
   <td><tt>d5305bac1d400137c074a6f3afabdf383fd7896b46c644d0d41c23c99e530971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kio-gdrive-24.01.90.tar.xz">kio-gdrive-24.01.90</a></td>
   <td align="right">78kB</td>
   <td><tt>2c4a89fb975b09bd207c57e004b01e7006018082937a99df51fefc320f0ba0c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kio-zeroconf-24.01.90.tar.xz">kio-zeroconf-24.01.90</a></td>
   <td align="right">43kB</td>
   <td><tt>46b39a8805fe3b279fb7d269ee37756a8103656ba515bd5a9f65c375d533176a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kipi-plugins-24.01.90.tar.xz">kipi-plugins-24.01.90</a></td>
   <td align="right">1533kB</td>
   <td><tt>03cc68ce8c6b626d3cbff363bb4393401fd455bd05ccffa9395baa4e01798923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kirigami-gallery-24.01.90.tar.xz">kirigami-gallery-24.01.90</a></td>
   <td align="right">344kB</td>
   <td><tt>e80ede8c7251779115a3c9f7f223e4a512bdacda152c743dbf87edc434f4a7fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kiriki-24.01.90.tar.xz">kiriki-24.01.90</a></td>
   <td align="right">361kB</td>
   <td><tt>24aef7eddddf3e930b837600ec710cc633b734b9ef8e2daa6e9d895a7e00868f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kiten-24.01.90.tar.xz">kiten-24.01.90</a></td>
   <td align="right">11065kB</td>
   <td><tt>99bc100047f9c100326403f9822b529c53f60eb47fb12d5f52ba86a2652ce8de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kitinerary-24.01.90.tar.xz">kitinerary-24.01.90</a></td>
   <td align="right">1904kB</td>
   <td><tt>655bc68daead258eec3122cb0f0edcf01350cc769d7d3c57aeb6ab0220953567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kjournald-24.01.90.tar.xz">kjournald-24.01.90</a></td>
   <td align="right">503kB</td>
   <td><tt>46241e0df31569d6fe12126c1ca8405de6a8084f37ef501ebb0eaea89325ca1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kjumpingcube-24.01.90.tar.xz">kjumpingcube-24.01.90</a></td>
   <td align="right">331kB</td>
   <td><tt>8e3d1691d33536db72031174698045715581d05f6e70bbdb5b3620fb0f465089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kldap-24.01.90.tar.xz">kldap-24.01.90</a></td>
   <td align="right">178kB</td>
   <td><tt>7e2bade6f8d37c60d9cc46aa8c026e816ce6670121b19e7f3a0b87aa29e70eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kleopatra-24.01.90.tar.xz">kleopatra-24.01.90</a></td>
   <td align="right">2714kB</td>
   <td><tt>6eb8d15f478ffd461b8f986a82b442f8d06e3e5f12e24721ef8e956908a374bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/klettres-24.01.90.tar.xz">klettres-24.01.90</a></td>
   <td align="right">46722kB</td>
   <td><tt>e56581d18b16d6500b93119ffe85a2135437dd9497839aba68e83dea6a845dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/klickety-24.01.90.tar.xz">klickety-24.01.90</a></td>
   <td align="right">1466kB</td>
   <td><tt>69531cb862604f26748e58475330bddd130c908c1c76425fcfecbe50a433ee6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/klines-24.01.90.tar.xz">klines-24.01.90</a></td>
   <td align="right">1698kB</td>
   <td><tt>02415e3e86d0f60860c53ec0184dbb2cc98c057ebb6436d090cee8dbf3e0cdf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmag-24.01.90.tar.xz">kmag-24.01.90</a></td>
   <td align="right">709kB</td>
   <td><tt>e39e5fa295e05fa6313741b6f0bd9b7bc25def6ef3db43f5032a57c4dc2ef498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmahjongg-24.01.90.tar.xz">kmahjongg-24.01.90</a></td>
   <td align="right">4004kB</td>
   <td><tt>f40123ed766b9e1b8ca051c5f94c83ac897d6e31657ec790e4adba218296bf91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmail-24.01.90.tar.xz">kmail-24.01.90</a></td>
   <td align="right">7512kB</td>
   <td><tt>71cb190d8f97da3b216a19d66435c2fc9fe569781257bba020ae327a19ce4a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmail-account-wizard-24.01.90.tar.xz">kmail-account-wizard-24.01.90</a></td>
   <td align="right">164kB</td>
   <td><tt>dd03a1be7c631468dad611934d6c7afab5956179920608bb0f36cac1077516e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmailtransport-24.01.90.tar.xz">kmailtransport-24.01.90</a></td>
   <td align="right">168kB</td>
   <td><tt>e534f7540d13e66589e92fb59253e25e7c71a62826e8e6f3ce1318ab538de73c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmbox-24.01.90.tar.xz">kmbox-24.01.90</a></td>
   <td align="right">28kB</td>
   <td><tt>140025fa4bdb454410615110d937e865361d2b858ed0103ea31e3565cfe325dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmime-24.01.90.tar.xz">kmime-24.01.90</a></td>
   <td align="right">157kB</td>
   <td><tt>012a853b60eea06594373b4f5a02954e44e4d99cf26469fafe874e55d728ecbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmines-24.01.90.tar.xz">kmines-24.01.90</a></td>
   <td align="right">1061kB</td>
   <td><tt>50bcee8e6348d39fb16e6e0668f2a4caf199c63603d1cedd7318bf2d6ac38697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmix-24.01.90.tar.xz">kmix-24.01.90</a></td>
   <td align="right">1181kB</td>
   <td><tt>11173b5048441fd5f590b4ca18ab88a3b43fd478d904b1023242b63b73d4e916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmousetool-24.01.90.tar.xz">kmousetool-24.01.90</a></td>
   <td align="right">126kB</td>
   <td><tt>004af053a45c59fd89602422a21ae24b8bfe615c3f29756a8cbf23110baee038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmouth-24.01.90.tar.xz">kmouth-24.01.90</a></td>
   <td align="right">2041kB</td>
   <td><tt>5aee50264133f2250b5c39d8a939c521b2075d0930be356f2dcb923a108ab46c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kmplot-24.01.90.tar.xz">kmplot-24.01.90</a></td>
   <td align="right">3027kB</td>
   <td><tt>f22912a36f1adfb0569618d5869428ad18722dee8a5a300ad90c1cd52b0a4624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/knavalbattle-24.01.90.tar.xz">knavalbattle-24.01.90</a></td>
   <td align="right">1367kB</td>
   <td><tt>b7613c42ff18105fa05efe5f827346d679e80188e6f1fe716c468921de206142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/knetwalk-24.01.90.tar.xz">knetwalk-24.01.90</a></td>
   <td align="right">1037kB</td>
   <td><tt>02767143e8315e2e7179c4dd3541f1a85f97d1a2b0b459c390fb6d7d725eb4f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/knights-24.01.90.tar.xz">knights-24.01.90</a></td>
   <td align="right">2441kB</td>
   <td><tt>ab713968b9853de8912772796c833465b66495716cee832f81fd45d4c3148811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/knotes-24.01.90.tar.xz">knotes-24.01.90</a></td>
   <td align="right">371kB</td>
   <td><tt>d0eb939188750f5c564b5173ba1ab740d1117edd6efc4c9cfeae96c1e21f4be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/koko-24.01.90.tar.xz">koko-24.01.90</a></td>
   <td align="right">8324kB</td>
   <td><tt>0d6504722c2f34f8c04a32123ec36e304d8ab6a0573a2f7de49c126fe3a35fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kolf-24.01.90.tar.xz">kolf-24.01.90</a></td>
   <td align="right">1046kB</td>
   <td><tt>feadc35eab692ae5b50fc50026c52874ba98da9d8c55f91882a8492b013d23b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kollision-24.01.90.tar.xz">kollision-24.01.90</a></td>
   <td align="right">300kB</td>
   <td><tt>276c8a95cbaa4b1536a24479be646ebfdc44ca5d039796890c8fdc9ac89394d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kolourpaint-24.01.90.tar.xz">kolourpaint-24.01.90</a></td>
   <td align="right">5659kB</td>
   <td><tt>6b8a098e56576708d6da2066ec599f7f2078231eb74a704dee1c17bfaa68d797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kompare-24.01.90.tar.xz">kompare-24.01.90</a></td>
   <td align="right">960kB</td>
   <td><tt>eafb11a2b5ac079a54a4a0d025476d2c36e6d5ba470638d7fca5be37745adc8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kongress-24.01.90.tar.xz">kongress-24.01.90</a></td>
   <td align="right">577kB</td>
   <td><tt>9b0021d5a8a4edfa009fcda80b38831f65a2fcf9c0d07da632d188fccb1c2cb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/konqueror-24.01.90.tar.xz">konqueror-24.01.90</a></td>
   <td align="right">9900kB</td>
   <td><tt>62ab21189d46856aa1971fe2e45fa9a2a106c8d1363d1601b455341e0a45df91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/konquest-24.01.90.tar.xz">konquest-24.01.90</a></td>
   <td align="right">855kB</td>
   <td><tt>2f634b3d7370ef5c8701b45eb2c4c89bc04a8f10e2dca43a6c5f19007c18ef4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/konsole-24.01.90.tar.xz">konsole-24.01.90</a></td>
   <td align="right">1709kB</td>
   <td><tt>300b9c41bddb267d7a0cc260102c5bb0449a912699eea2a88cacbf8f4eccb231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kontact-24.01.90.tar.xz">kontact-24.01.90</a></td>
   <td align="right">839kB</td>
   <td><tt>a503c5c90a7affec27b9b7deb8cb6615791f5f917d34f82c2878b3cbb6605677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kontactinterface-24.01.90.tar.xz">kontactinterface-24.01.90</a></td>
   <td align="right">39kB</td>
   <td><tt>30cdc460a002410061c102c097ffcf0915a9e4c043a4f83358c6d2f8f224cbab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kontrast-24.01.90.tar.xz">kontrast-24.01.90</a></td>
   <td align="right">206kB</td>
   <td><tt>83fafbbe896276f1d920ce931fb4b083fa1d14373932a84633c3062976de4a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/konversation-24.01.90.tar.xz">konversation-24.01.90</a></td>
   <td align="right">4302kB</td>
   <td><tt>68666aa9319e71046ec13eda12dd10833bd356a4cc48022b77fc64e6297fdaf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kopeninghours-24.01.90.tar.xz">kopeninghours-24.01.90</a></td>
   <td align="right">71kB</td>
   <td><tt>869a2071b12f2ae0f0e73d169d753aece767d42c439f87ae8f4db66d2fc3eabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/korganizer-24.01.90.tar.xz">korganizer-24.01.90</a></td>
   <td align="right">2512kB</td>
   <td><tt>e7323bc0cdcaacdefbd8bce34c930871b2d3f760d62bbdb1585aae0c95a1511e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kosmindoormap-24.01.90.tar.xz">kosmindoormap-24.01.90</a></td>
   <td align="right">610kB</td>
   <td><tt>dbb0a35cc82c79c61b5a35c425738ee0ebc3e25a66b5ce913202719a47838b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kpat-24.01.90.tar.xz">kpat-24.01.90</a></td>
   <td align="right">3626kB</td>
   <td><tt>238ecefd783c691b1d20d20e2f7a716777c8d9b9d8d4b725a2889474c595e8c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kpimtextedit-24.01.90.tar.xz">kpimtextedit-24.01.90</a></td>
   <td align="right">163kB</td>
   <td><tt>6c42139f5d8a6c89cbb796ba30bbca7d998551f3d0dc0720392349dccdd3e247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kpkpass-24.01.90.tar.xz">kpkpass-24.01.90</a></td>
   <td align="right">28kB</td>
   <td><tt>d7f4f05ba9fa56d9bd7d267fa8bdbc832dd505911a13588b64f240bd1406138b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kpmcore-24.01.90.tar.xz">kpmcore-24.01.90</a></td>
   <td align="right">616kB</td>
   <td><tt>29fd9d4b5a9d47c7c2ad9353b2176bab1bf5a519d5905601dac4720bedbc6bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kpublictransport-24.01.90.tar.xz">kpublictransport-24.01.90</a></td>
   <td align="right">567kB</td>
   <td><tt>2f2e67ad1510275acd42564c36ee480b9dc4e05d3e01fbb1137417e8d1f396e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kqtquickcharts-24.01.90.tar.xz">kqtquickcharts-24.01.90</a></td>
   <td align="right">30kB</td>
   <td><tt>ef806eb1a27dc15dd0a1f7b7bf93f74844d9ea33b0e00db8bb47116b641d0ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/krdc-24.01.90.tar.xz">krdc-24.01.90</a></td>
   <td align="right">1600kB</td>
   <td><tt>502f3dec39a3fdecca96f0552c6f9630127e8bd896b1b58e25788967909ca170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/krecorder-24.01.90.tar.xz">krecorder-24.01.90</a></td>
   <td align="right">159kB</td>
   <td><tt>e8998955cc6485daea1895919a9f81898ffadd776308c84aae05260d69fbf67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kreversi-24.01.90.tar.xz">kreversi-24.01.90</a></td>
   <td align="right">1054kB</td>
   <td><tt>4ebf95366cd4e94547d091545bfb415191042889fd3cfc3adbb30d92ae6953ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/krfb-24.01.90.tar.xz">krfb-24.01.90</a></td>
   <td align="right">1289kB</td>
   <td><tt>9e1a760ac73a3056e1383f07676a32c009c858573c9c2b20607f3da75610f57d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kross-interpreters-24.01.90.tar.xz">kross-interpreters-24.01.90</a></td>
   <td align="right">148kB</td>
   <td><tt>816e7ba43f087546ba8f678312d6a87c362fd84dbc6f3f62bd366e202658bda7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kruler-24.01.90.tar.xz">kruler-24.01.90</a></td>
   <td align="right">283kB</td>
   <td><tt>98915f1b52e365767d134ac0b45996fa662f06f2b633fa4b6180d3da0a60a688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ksanecore-24.01.90.tar.xz">ksanecore-24.01.90</a></td>
   <td align="right">51kB</td>
   <td><tt>a5f5c8ce17f5d8086c3171c2c70e4c445b876ccf3a189c387e4f45327cbb3251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kshisen-24.01.90.tar.xz">kshisen-24.01.90</a></td>
   <td align="right">985kB</td>
   <td><tt>b7b965c31dbfd2beda94137fa3d59d421e8999d43d5ea5ebfe4c55eb82d9c238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ksirk-24.01.90.tar.xz">ksirk-24.01.90</a></td>
   <td align="right">6910kB</td>
   <td><tt>b38ba1f663106645617a794dc98f1d9fc7b1e46bd57706a0f75a6f5a03aed8ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ksmtp-24.01.90.tar.xz">ksmtp-24.01.90</a></td>
   <td align="right">50kB</td>
   <td><tt>0d0332c44a4c3af8b6f1c8e7b8d443f7490bbde5aad2a15e57830e37ca3e5d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ksnakeduel-24.01.90.tar.xz">ksnakeduel-24.01.90</a></td>
   <td align="right">589kB</td>
   <td><tt>d840bb4d1a0d5e675979680da5162389b6aa979dfbbf9d214bc9f9b45ab02960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kspaceduel-24.01.90.tar.xz">kspaceduel-24.01.90</a></td>
   <td align="right">645kB</td>
   <td><tt>781cdc63189f54c5ee5220d0461e04fbc284c6a352c57dfb858da1bb7434159b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ksquares-24.01.90.tar.xz">ksquares-24.01.90</a></td>
   <td align="right">310kB</td>
   <td><tt>99eaca174a8577c121854851d18df28df1b4ba117a0d21ed1d9df1e4764b3a78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ksudoku-24.01.90.tar.xz">ksudoku-24.01.90</a></td>
   <td align="right">1669kB</td>
   <td><tt>87f3ce6701646130b8d0718a9a77e28048f0a471db4bdbd37205d5d3e013fd49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ksystemlog-24.01.90.tar.xz">ksystemlog-24.01.90</a></td>
   <td align="right">1966kB</td>
   <td><tt>8e70399837aa46c7076404cf44339b2ef8ce4744537c1b1017b464252210cf84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kteatime-24.01.90.tar.xz">kteatime-24.01.90</a></td>
   <td align="right">307kB</td>
   <td><tt>c86dee4ede01f7e8290407b1e5064d7367b14712a9bddcf89921fbbf74bd2df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ktimer-24.01.90.tar.xz">ktimer-24.01.90</a></td>
   <td align="right">396kB</td>
   <td><tt>5f684b5909f0d3a86dab6cec8c40c178a601fa47686b8b647804d91a4013884c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ktnef-24.01.90.tar.xz">ktnef-24.01.90</a></td>
   <td align="right">303kB</td>
   <td><tt>323ac1a02cd4dd749fb371a887494f6a6a94dfe30698e54497fc3451caaf7501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ktorrent-24.01.90.tar.xz">ktorrent-24.01.90</a></td>
   <td align="right">2121kB</td>
   <td><tt>155d14af11d8eb29cf7534cb607fb1408631f5d541feb692d04ad432788e5b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ktouch-24.01.90.tar.xz">ktouch-24.01.90</a></td>
   <td align="right">4923kB</td>
   <td><tt>6597c94086f6a2ed8019bd41c16577ebe73dd577be00190427dfa7ce4ba0f2de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ktrip-24.01.90.tar.xz">ktrip-24.01.90</a></td>
   <td align="right">249kB</td>
   <td><tt>04aa4023b38a1f17ab4a042807fdb15858be772edc24d6a69ea1a55c11d937be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/ktuberling-24.01.90.tar.xz">ktuberling-24.01.90</a></td>
   <td align="right">69909kB</td>
   <td><tt>b1bd27aa8d53af112b5cb409ab8f484d14b5b8e74335215de0f5f5d2265eb07b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kturtle-24.01.90.tar.xz">kturtle-24.01.90</a></td>
   <td align="right">2195kB</td>
   <td><tt>12370f46127bd986462161cbf7e6de426917dc20a05184bdf654992d63b9957b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kubrick-24.01.90.tar.xz">kubrick-24.01.90</a></td>
   <td align="right">346kB</td>
   <td><tt>d5e6e4a77d6cac8f3c05a535901171456e3c1a78114a71f0424e7c91f81b72ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kwalletmanager-24.01.90.tar.xz">kwalletmanager-24.01.90</a></td>
   <td align="right">836kB</td>
   <td><tt>0b9769e152d36e1612e422a1b9414ccd6183569daeabc68d5f8a55ce0d3fd94c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kwave-24.01.90.tar.xz">kwave-24.01.90</a></td>
   <td align="right">6817kB</td>
   <td><tt>6077220b5c14733e85837cf328acd8e8ea937cdd0992a0a199a95a325f9d6b72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kweather-24.01.90.tar.xz">kweather-24.01.90</a></td>
   <td align="right">924kB</td>
   <td><tt>b3780f5261220f55ea57b29da77e3f464cb61ec984b82e12c4e3c357f5537da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/kwordquiz-24.01.90.tar.xz">kwordquiz-24.01.90</a></td>
   <td align="right">3977kB</td>
   <td><tt>ca0d487ae4074e70cd1417b2ea66e24dfb508ed082fe243ff9c3ba69fd172b51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libgravatar-24.01.90.tar.xz">libgravatar-24.01.90</a></td>
   <td align="right">35kB</td>
   <td><tt>018f178837e4798a136bf660c1ec416c6ea1a504889893b97c119451a7aafb8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkcddb-24.01.90.tar.xz">libkcddb-24.01.90</a></td>
   <td align="right">441kB</td>
   <td><tt>4263c4fbd5f2e642d9446deb277c5b06adab076c16b7f19bc25425dc6019a43d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkcompactdisc-24.01.90.tar.xz">libkcompactdisc-24.01.90</a></td>
   <td align="right">97kB</td>
   <td><tt>1a840aea802ba00b72d1abb00406f8d1e8fb2851d70b13cc0c7ae766575db823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkdcraw-24.01.90.tar.xz">libkdcraw-24.01.90</a></td>
   <td align="right">36kB</td>
   <td><tt>359f2cdad1cafea660401b0d2529e319300bc15661ad4753d314ce5692d3299a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkdegames-24.01.90.tar.xz">libkdegames-24.01.90</a></td>
   <td align="right">5833kB</td>
   <td><tt>1564f36b81f3aa3b65f95b895e2533b29c49e62cab6c1111690f05f66a921109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkdepim-24.01.90.tar.xz">libkdepim-24.01.90</a></td>
   <td align="right">278kB</td>
   <td><tt>142df72350947b0d325742e64e517f9c86c9b406692afe7bde5c4ab3573da8bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkeduvocdocument-24.01.90.tar.xz">libkeduvocdocument-24.01.90</a></td>
   <td align="right">224kB</td>
   <td><tt>958ee3243cae86ebfe776d0da46280ee19df537d6bff20c7879f72f8c46c3087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkexiv2-24.01.90.tar.xz">libkexiv2-24.01.90</a></td>
   <td align="right">59kB</td>
   <td><tt>f6bcc591b04dba03d70998df5564a99c0741880524cf1afb5953f5b620f886d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkgapi-24.01.90.tar.xz">libkgapi-24.01.90</a></td>
   <td align="right">327kB</td>
   <td><tt>795f4c60bc92250fca033dee07cdf27dfaa50906340d9fdf05a95cc16d992202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkipi-24.01.90.tar.xz">libkipi-24.01.90</a></td>
   <td align="right">86kB</td>
   <td><tt>752f32279455dc22e1ef0d811b93e77c2c4be8dfa2512e60c053c6c3536bbdfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkleo-24.01.90.tar.xz">libkleo-24.01.90</a></td>
   <td align="right">556kB</td>
   <td><tt>d337e287dfcc9c59b5e75f3f774b48ec35bd65239c40bba6823e16b64055347b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkmahjongg-24.01.90.tar.xz">libkmahjongg-24.01.90</a></td>
   <td align="right">1653kB</td>
   <td><tt>e7dff3027faf7ff183f58c53c7ef033b2fd7429eb3851fd617f972dfd3ef57e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libkomparediff2-24.01.90.tar.xz">libkomparediff2-24.01.90</a></td>
   <td align="right">183kB</td>
   <td><tt>d7c62a4ab8d5904bd0f295ed924c2466457d3bb226f4ab1588719d98a1638ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libksane-24.01.90.tar.xz">libksane-24.01.90</a></td>
   <td align="right">149kB</td>
   <td><tt>54ebacb7a1afa6fe7eda38729a65be98ba21f2f57b99c7419a40d79ae89c48ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libksieve-24.01.90.tar.xz">libksieve-24.01.90</a></td>
   <td align="right">569kB</td>
   <td><tt>c6db352e8793cdba2f0a8246f6cd809e64c8be3b61793fea30f966dfec3e0184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/libktorrent-24.01.90.tar.xz">libktorrent-24.01.90</a></td>
   <td align="right">588kB</td>
   <td><tt>8444c481acb5e8a7199b74143e575713be4ac32677e97a536e74bace39e4eead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/lokalize-24.01.90.tar.xz">lokalize-24.01.90</a></td>
   <td align="right">2090kB</td>
   <td><tt>8d3805bdb8737fa3cbeb51eb883094473b12f224a5d81bca0878c1e0616c1593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/lskat-24.01.90.tar.xz">lskat-24.01.90</a></td>
   <td align="right">1221kB</td>
   <td><tt>79cdf22a7d7289f88b189ad1531494a6e529dfa4e8bfd9ec8b3e1534feab64a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/mailcommon-24.01.90.tar.xz">mailcommon-24.01.90</a></td>
   <td align="right">752kB</td>
   <td><tt>66a56a971af9dd93dba55d87ef7ef838d25ab5d14cdd353ecf1b6b91c308d28f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/mailimporter-24.01.90.tar.xz">mailimporter-24.01.90</a></td>
   <td align="right">579kB</td>
   <td><tt>6fc2deb1e976e2a36a2a2c11a440b584b8cc558df838979818c7f04b56c0324c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/marble-24.01.90.tar.xz">marble-24.01.90</a></td>
   <td align="right">52569kB</td>
   <td><tt>4ea7c897c130b9e0b9faf006880b5679463ae470e45d0aa53720e28d024131e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/markdownpart-24.01.90.tar.xz">markdownpart-24.01.90</a></td>
   <td align="right">31kB</td>
   <td><tt>8eee4fd201a18722ef640b48a46f3cf112005b88a833ddfd00b4b781ca588127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/mbox-importer-24.01.90.tar.xz">mbox-importer-24.01.90</a></td>
   <td align="right">29kB</td>
   <td><tt>627ac9123b9b4478f9ab41fa2bfc531eb576dd269c55a1ba970a2dc4255459af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/merkuro-24.01.90.tar.xz">merkuro-24.01.90</a></td>
   <td align="right">702kB</td>
   <td><tt>469ce1fdb43154b4a4f000b3991ed8e8a26d22be6ece7cae913961787cef0f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/messagelib-24.01.90.tar.xz">messagelib-24.01.90</a></td>
   <td align="right">11055kB</td>
   <td><tt>08f14267fc7b75cef1ab28b59abe911ae3cd8313945a27ae79b984d55afeada9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/mimetreeparser-24.01.90.tar.xz">mimetreeparser-24.01.90</a></td>
   <td align="right">618kB</td>
   <td><tt>544b2cc670758984828c785c59272c0c4bb6e0cadb0eb7de4083fcc6e6423dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/minuet-24.01.90.tar.xz">minuet-24.01.90</a></td>
   <td align="right">27049kB</td>
   <td><tt>a137ec813f4ccc5b6792d6a5e3fd85a14f4751028bccecaccbeb88b7994b2895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/neochat-24.01.90.tar.xz">neochat-24.01.90</a></td>
   <td align="right">859kB</td>
   <td><tt>46a91e1788df95a15615e86f4d32178dd7f3e33a35a156aa04ca000bb7ee1cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/okular-24.01.90.tar.xz">okular-24.01.90</a></td>
   <td align="right">8348kB</td>
   <td><tt>67ea6fd08e07b96a562038c65068c78762631deb96037106508c4ae3318dbfc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/palapeli-24.01.90.tar.xz">palapeli-24.01.90</a></td>
   <td align="right">2070kB</td>
   <td><tt>ea1e343e40cf5da41086a415cac72b18f572a6adcf37d84f3f1ff234dda9a8c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/parley-24.01.90.tar.xz">parley-24.01.90</a></td>
   <td align="right">8414kB</td>
   <td><tt>5d78f23e737d6dedb08b7491cd5b80bbdb1e5e3976c026637163a9bd00f4d144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/partitionmanager-24.01.90.tar.xz">partitionmanager-24.01.90</a></td>
   <td align="right">2096kB</td>
   <td><tt>e2b602c9f4d76ebf078eaf49f4217818d64344aceb7751d2c496609a83eadd1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/picmi-24.01.90.tar.xz">picmi-24.01.90</a></td>
   <td align="right">1505kB</td>
   <td><tt>e6aedf1dcaf1095ed72d7ec6c1b11313cc23c460c43eaf0cd1f064c8727ed171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/pimcommon-24.01.90.tar.xz">pimcommon-24.01.90</a></td>
   <td align="right">339kB</td>
   <td><tt>9f377659500d37a0e6bc134cb33e7808f66195843b6a6777621e0d4c6dae170c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/pim-data-exporter-24.01.90.tar.xz">pim-data-exporter-24.01.90</a></td>
   <td align="right">417kB</td>
   <td><tt>354e662dab61a28431a7b0a2ba3db8bc7858b54d885e860ba4d47afdf0d239b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/pim-sieve-editor-24.01.90.tar.xz">pim-sieve-editor-24.01.90</a></td>
   <td align="right">464kB</td>
   <td><tt>6ba2e90fb43a6665119a89d1c4f432ed02a77557b397aa2683f37af2f0c69c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/plasmatube-24.01.90.tar.xz">plasmatube-24.01.90</a></td>
   <td align="right">130kB</td>
   <td><tt>4d776461713acf0b8aff0101b6fb4f24765b7cd02c151740b25afc43b37a522d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/poxml-24.01.90.tar.xz">poxml-24.01.90</a></td>
   <td align="right">43kB</td>
   <td><tt>c55ccbd0c9cd4316ee788a1f87e3cdb7908d0431337ff9d254b0b51309a97b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/qmlkonsole-24.01.90.tar.xz">qmlkonsole-24.01.90</a></td>
   <td align="right">189kB</td>
   <td><tt>6a8df173ad93011d009c84f66807d45a460309d433bc3b534dee1dfb1f42ed49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/rocs-24.01.90.tar.xz">rocs-24.01.90</a></td>
   <td align="right">1533kB</td>
   <td><tt>e0768c0480cb0a0a8896fbfaadb48e3d0a115e8ed143f778416ec085e725a43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/signon-kwallet-extension-24.01.90.tar.xz">signon-kwallet-extension-24.01.90</a></td>
   <td align="right">10kB</td>
   <td><tt>a6901be1c7bc0040ce2da8c0a8238f95d203d23a707f97b75df7f95c4dc15633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/skanlite-24.01.90.tar.xz">skanlite-24.01.90</a></td>
   <td align="right">2394kB</td>
   <td><tt>c77d28e88e82a3f19ef8d72460ad3ef8f5a9cb260eafd9d1945cfdfc686734a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/skanpage-24.01.90.tar.xz">skanpage-24.01.90</a></td>
   <td align="right">1288kB</td>
   <td><tt>eaef1707c07186179f36edeed5c9999a2e35126449399c1f397dd926d3c69597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/spectacle-24.01.90.tar.xz">spectacle-24.01.90</a></td>
   <td align="right">1370kB</td>
   <td><tt>73f410eb8f0985404ca367d1b109cc3a54b3ae1ef212167771d052a2c410f5dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/step-24.01.90.tar.xz">step-24.01.90</a></td>
   <td align="right">972kB</td>
   <td><tt>5e93d2d97ab15446ffcce1429fac29e437467dbc633249e4028da70884696cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/svgpart-24.01.90.tar.xz">svgpart-24.01.90</a></td>
   <td align="right">28kB</td>
   <td><tt>54b79801acbe459613c3296320624ac045db3d05958e4f87ba896b0a62093952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/sweeper-24.01.90.tar.xz">sweeper-24.01.90</a></td>
   <td align="right">390kB</td>
   <td><tt>2e07b591480e65e3e2c0bfe5bbb58832b1d5d00e0a470d7c982d631206d04a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/telly-skout-24.01.90.tar.xz">telly-skout-24.01.90</a></td>
   <td align="right">94kB</td>
   <td><tt>a4f826952cd73cd37532d35f824753f1511a6189d6516313ec89bcb21f9a5e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/tokodon-24.01.90.tar.xz">tokodon-24.01.90</a></td>
   <td align="right">498kB</td>
   <td><tt>6ecfa01b0b6797d14960eb4984d79e6faba6eeb7515371d9b2ccd4ba3265b517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/umbrello-24.01.90.tar.xz">umbrello-24.01.90</a></td>
   <td align="right">5640kB</td>
   <td><tt>a010eb8d670c1dfd616b26ea1ec9da6ad2fd03ee5e6f8c647ddb5bdedc0a1dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/yakuake-24.01.90.tar.xz">yakuake-24.01.90</a></td>
   <td align="right">429kB</td>
   <td><tt>4873a54c661085758d5f6fa8c96164cbda71f11aadae164082f5a3061161167b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.90/src/zanshin-24.01.90.tar.xz">zanshin-24.01.90</a></td>
   <td align="right">362kB</td>
   <td><tt>7eaf1706219dbbec37097644c0120ea2bc56c8ffa873c54f8f6186c9d74cb006</tt></td>
</tr>

</table>
