<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/bluedevil-5.18.3.tar.xz">bluedevil-5.18.3</a></td>
   <td align="right">163kB</td>
   <td><tt>d4f84bf24bf79823bffee41230f583df2efd72a368927d1a9f456fa08cb3acf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/breeze-5.18.3.tar.xz">breeze-5.18.3</a></td>
   <td align="right">20MB</td>
   <td><tt>f75048e35717e6d8de4d0ee3364257fffd2a26dd7c99c1ea60aaac5b8d0216a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/breeze-grub-5.18.3.tar.xz">breeze-grub-5.18.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>59c1419daf6de0351cefcdf064726dbde51ea860556bced985502c9133c876f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/breeze-gtk-5.18.3.tar.xz">breeze-gtk-5.18.3</a></td>
   <td align="right">41kB</td>
   <td><tt>c10cea3dfb50914749271ccbe19d44947d01398e98c3c3dbafffab89923cd8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/breeze-plymouth-5.18.3.tar.xz">breeze-plymouth-5.18.3</a></td>
   <td align="right">103kB</td>
   <td><tt>1120f8d5b3531a3c6a17dde91393a44c57c2aa005332f7483cb8ac82c31ef91d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/discover-5.18.3.tar.xz">discover-5.18.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>d896bdd76c1162fc00488cb94c685c3bec60437cbc2aaef481f54ac5a12e7d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/drkonqi-5.18.3.tar.xz">drkonqi-5.18.3</a></td>
   <td align="right">729kB</td>
   <td><tt>ca319ed5d7c74a282506ee3f07ed94c823a679c7c731e8a6eed065d00f404fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kactivitymanagerd-5.18.3.tar.xz">kactivitymanagerd-5.18.3</a></td>
   <td align="right">85kB</td>
   <td><tt>4e76d8885899d62b6d58a1d90dc78489084dff89799d3b3f168237938a34ad9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kde-cli-tools-5.18.3.tar.xz">kde-cli-tools-5.18.3</a></td>
   <td align="right">580kB</td>
   <td><tt>74969efe898aff96d7e69d73da5ddb8c67d00b91212ef08447857b1eff4a2f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kdecoration-5.18.3.tar.xz">kdecoration-5.18.3</a></td>
   <td align="right">42kB</td>
   <td><tt>07f3f73162e18752387d186f8f286743c934fe59d1f5e5f9a0e6348e6394de4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kde-gtk-config-5.18.3.tar.xz">kde-gtk-config-5.18.3</a></td>
   <td align="right">23kB</td>
   <td><tt>cd47092634387fdc63712846fecdee2385f98947910051c6ded95c7d741752c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kdeplasma-addons-5.18.3.tar.xz">kdeplasma-addons-5.18.3</a></td>
   <td align="right">601kB</td>
   <td><tt>e5ae323671816b40df40957e1d64f1a2ebc316145bc861087e18a02b8906d301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kgamma5-5.18.3.tar.xz">kgamma5-5.18.3</a></td>
   <td align="right">78kB</td>
   <td><tt>b00dcf8d2261771da8b7ad0e086bc6f616d6c15d04f9b39ad87e133a796b5b8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/khotkeys-5.18.3.tar.xz">khotkeys-5.18.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e2b459da176c369fecc46a0dfa151266e4778194b3b8d81c4d7bc423301ff204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kinfocenter-5.18.3.tar.xz">kinfocenter-5.18.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e7f263db54bb0826605f6353636d502906c86104e1e9686c61b582208177e16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kmenuedit-5.18.3.tar.xz">kmenuedit-5.18.3</a></td>
   <td align="right">795kB</td>
   <td><tt>b508e780b23bc816812a4d025092e8dcc5373ed2f389e88f0c7beee8368d1e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kscreen-5.18.3.tar.xz">kscreen-5.18.3</a></td>
   <td align="right">110kB</td>
   <td><tt>cd3413c117b03710284533534852c53e2a6229b35645e057beded70b26bbbe15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kscreenlocker-5.18.3.tar.xz">kscreenlocker-5.18.3</a></td>
   <td align="right">122kB</td>
   <td><tt>1bce2627038a41c1b682f7530a3c5f6766ecf834b3d62fbd10d6e90ebc519348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/ksshaskpass-5.18.3.tar.xz">ksshaskpass-5.18.3</a></td>
   <td align="right">21kB</td>
   <td><tt>ad8592f1d97b818225fb94c3cc356e75f987b17ecab5b84a7ff9a552b0eb179b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/ksysguard-5.18.3.tar.xz">ksysguard-5.18.3</a></td>
   <td align="right">504kB</td>
   <td><tt>b6a2c6d01b7363a0343d18f248178923e5b7ee9b9dd761826d9f8c50a4ba9bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kwallet-pam-5.18.3.tar.xz">kwallet-pam-5.18.3</a></td>
   <td align="right">19kB</td>
   <td><tt>9f2bf284bde5c4f4518beac585ae05916656a9fd8d6d557dcf18f60aa386f705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kwayland-integration-5.18.3.tar.xz">kwayland-integration-5.18.3</a></td>
   <td align="right">20kB</td>
   <td><tt>2fbebc90100d30e09d68066922e1154b1012059268694d1ad3cc0a4f49759369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kwin-5.18.3.tar.xz">kwin-5.18.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>e2dceee95fdb74ab1cfca4912731c20c9ff363d20b8f1872185eefa4a4ee69a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/kwrited-5.18.3.tar.xz">kwrited-5.18.3</a></td>
   <td align="right">19kB</td>
   <td><tt>c536867864ea04aa4a214cedc12785c140cf9d915c104c80b021d27f4776f1b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/libkscreen-5.18.3.tar.xz">libkscreen-5.18.3</a></td>
   <td align="right">83kB</td>
   <td><tt>28f94f84570a5e3d57b4620c12c640622c2ee757c198e310c64e0b1dc68f66e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/libksysguard-5.18.3.tar.xz">libksysguard-5.18.3</a></td>
   <td align="right">598kB</td>
   <td><tt>d46113b835cfa7561c7ebb1be5ae89200196befe77c9a53981b18141da381f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/milou-5.18.3.tar.xz">milou-5.18.3</a></td>
   <td align="right">62kB</td>
   <td><tt>c311dd59744c01ebbacab3fb5049581a6f30e6f62374254b9f466a2edb3d8836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/oxygen-5.18.3.tar.xz">oxygen-5.18.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0fb7752f379b9ebb7ee5beac14b7cbcf64b4acb1866f98e183a94edb7ca247d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-browser-integration-5.18.3.tar.xz">plasma-browser-integration-5.18.3</a></td>
   <td align="right">151kB</td>
   <td><tt>5cc936c038ae567c6232375771b57254e51801c904f207e76e0492c5c919f4bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-desktop-5.18.3.tar.xz">plasma-desktop-5.18.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>340cc1854d2a3b267d95c8c60ec4ab7925932cb7128e9b6f4db897992dcc0c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-integration-5.18.3.tar.xz">plasma-integration-5.18.3</a></td>
   <td align="right">56kB</td>
   <td><tt>4fa236f20afde72dd9cc67351019788881a4496e191b410a5c48ba7587ab9f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-nano-5.18.3.tar.xz">plasma-nano-5.18.3</a></td>
   <td align="right">30kB</td>
   <td><tt>8bc929e1c9f8b45eee9500732b89a067a54dcef2cb136c73d5a8b5c3b1afe020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-nm-5.18.3.tar.xz">plasma-nm-5.18.3</a></td>
   <td align="right">807kB</td>
   <td><tt>0d4ead3648169e53ef3e08ec1fc3d67a3ef54a3a51bd246d64bd93473aeb8762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-pa-5.18.3.tar.xz">plasma-pa-5.18.3</a></td>
   <td align="right">102kB</td>
   <td><tt>5f4e25f75706af1c2693b2b8afa17d0138c495ec42a6aa8ac10ec04c19280577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-phone-components-5.18.3.tar.xz">plasma-phone-components-5.18.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b7bb98eba0fb101775500a38350ab17641b39abc3621fb8cb4a2f7f5c203f402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-sdk-5.18.3.tar.xz">plasma-sdk-5.18.3</a></td>
   <td align="right">257kB</td>
   <td><tt>9775df18c2c612e98a57e400566a44e883b83376fd79e15215f736da99b7ee14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-tests-5.18.3.tar.xz">plasma-tests-5.18.3</a></td>
   <td align="right">1kB</td>
   <td><tt>518fe0b54ffeb9524954dfd1cceb052c0bdec3be8308e63581b1e749f845aa43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-thunderbolt-5.18.3.tar.xz">plasma-thunderbolt-5.18.3</a></td>
   <td align="right">49kB</td>
   <td><tt>05c6b7f0f1ee974c41e8f4355f3100953869caa4d0b23016d1ecd6d31af98d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-vault-5.18.3.tar.xz">plasma-vault-5.18.3</a></td>
   <td align="right">133kB</td>
   <td><tt>c25591adf9d116d42a6f494362e8f9fd77796d1c62bdd7d9a271cc5cb1135e57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-workspace-5.18.3.tar.xz">plasma-workspace-5.18.3</a></td>
   <td align="right">5.4MB</td>
   <td><tt>ba3784de8aabe863bfdaabe69cd04f2b333a5572760b21d49d107c71362e639b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plasma-workspace-wallpapers-5.18.3.tar.xz">plasma-workspace-wallpapers-5.18.3</a></td>
   <td align="right">35MB</td>
   <td><tt>2ccb9e1549bbf7d5e6aadaf11cddf32d9990d9f72fcc5366a3bc224cb80c8ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/plymouth-kcm-5.18.3.tar.xz">plymouth-kcm-5.18.3</a></td>
   <td align="right">40kB</td>
   <td><tt>7f023207e4db16224a7031f22e1d2e6b554073f95f8442543caa828a4a049be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/polkit-kde-agent-1-5.18.3.tar.xz">polkit-kde-agent-1-5.18.3</a></td>
   <td align="right">43kB</td>
   <td><tt>760db906b843f3a9aa212c7ebb9e0332124cf5696d2219ddb4db49e7be7dca00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/powerdevil-5.18.3.tar.xz">powerdevil-5.18.3</a></td>
   <td align="right">584kB</td>
   <td><tt>586600bea2d9f375af3a0d8e8262676e28b4c11b340e8dafc3178c02503db91f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/sddm-kcm-5.18.3.tar.xz">sddm-kcm-5.18.3</a></td>
   <td align="right">60kB</td>
   <td><tt>30262735a7d6373eb3e86b6222bf1328ba1a779785d1974a527222d10a1f7971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/systemsettings-5.18.3.tar.xz">systemsettings-5.18.3</a></td>
   <td align="right">171kB</td>
   <td><tt>9298b3d59e4e48dc613db7e9e281e5700b9a17ae541519b848038e200aff4ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/user-manager-5.18.3.tar.xz">user-manager-5.18.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>56ab6bfb976ac7b85134249c33286bb4a3d333eac0b65491cde86a3bf9f84293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.3/xdg-desktop-portal-kde-5.18.3.tar.xz">xdg-desktop-portal-kde-5.18.3</a></td>
   <td align="right">63kB</td>
   <td><tt>5259e3e59a244aee08c71e6d09804ac97185173718b9e98729b286898eda1de3</tt></td>
</tr>

</table>
