<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/attica-5.248.0.tar.xz">attica-5.248.0</a></td>
   <td align="right">67kB</td>
   <td><tt>2007dc594c24814e3f3f081b394869e4dcf09f9e3346422af42eae4c192e9c58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/baloo-5.248.0.tar.xz">baloo-5.248.0</a></td>
   <td align="right">305kB</td>
   <td><tt>9d8a8ae38226a5ff9d71dbc8f725fcc29b11719902e29ffc46615ae5a8636adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/bluez-qt-5.248.0.tar.xz">bluez-qt-5.248.0</a></td>
   <td align="right">113kB</td>
   <td><tt>9e58e11cedfbd5095981ad05fa11afa1ca7a29fb24d5a993d3661ca13531ea89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/breeze-icons-5.248.0.tar.xz">breeze-icons-5.248.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2612f65da0fddbf9e34cda359294284363d504d9d75cff5b30ae9c366f5ee0dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/extra-cmake-modules-5.248.0.tar.xz">extra-cmake-modules-5.248.0</a></td>
   <td align="right">330kB</td>
   <td><tt>62c0cf9c3333e41a41e7cbb47bf18a123d5328587a7563f2af52a042f9a2b802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/frameworkintegration-5.248.0.tar.xz">frameworkintegration-5.248.0</a></td>
   <td align="right">52kB</td>
   <td><tt>b12954b576d5461e9cd677d32f8da2d1321fae4be20270b69137d57747699b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kapidox-5.248.0.tar.xz">kapidox-5.248.0</a></td>
   <td align="right">194kB</td>
   <td><tt>7c4db91073b2e08d6e2ba9f1d5ad99bd1fa4bae9fe7dde7e9222a649cc50ea3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/karchive-5.248.0.tar.xz">karchive-5.248.0</a></td>
   <td align="right">1003kB</td>
   <td><tt>1d30889f31354bf4a4e6b33664d439a023b97b59858648689567007feef9f92c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kauth-5.248.0.tar.xz">kauth-5.248.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2fea717f9e68b65564d71499cbc94614852abbcacde7505df392ce2c0b239dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kbookmarks-5.248.0.tar.xz">kbookmarks-5.248.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dcfc4ba8273ecc6b9d8ff25fdff07b481a0974a3e45c4e2700d33a48a02becd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kcalendarcore-5.248.0.tar.xz">kcalendarcore-5.248.0</a></td>
   <td align="right">254kB</td>
   <td><tt>c6b64d34f1ce22e1cc5a2ddb72b0850570180c14becdaafbf4d5557e0ad9f9a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kcmutils-5.248.0.tar.xz">kcmutils-5.248.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>7420c12f6dc638459fbb327cb48712171a04d0290d1824f081025be87afd1e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kcodecs-5.248.0.tar.xz">kcodecs-5.248.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>36d7d5a3d8509c37230fd9693e024123b46f5786a330100c371b44ace47cee83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kcolorscheme-5.248.0.tar.xz">kcolorscheme-5.248.0</a></td>
   <td align="right">42kB</td>
   <td><tt>780e6dfa244c7a233b647be6aa1d698bdc10824de10afe5e28beda8dae50eada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kcompletion-5.248.0.tar.xz">kcompletion-5.248.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a11fb0259d7fcb5867f39132b2b1fde7beb68e4c07b2542782914ff32cec3fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kconfig-5.248.0.tar.xz">kconfig-5.248.0</a></td>
   <td align="right">284kB</td>
   <td><tt>d95f7a8e58ec6573ea38358d637cf194c46451df7810a16c04ebdd950df1ecda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kconfigwidgets-5.248.0.tar.xz">kconfigwidgets-5.248.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>779e03880eb5cc9d1d6207c1de9a2f144ef103ea296e7b86b89de3e480391bc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kcontacts-5.248.0.tar.xz">kcontacts-5.248.0</a></td>
   <td align="right">202kB</td>
   <td><tt>9ce7b97474c589d3573a415c643f3bbca0bc154844456d3a9d7ca613d11c5f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kcoreaddons-5.248.0.tar.xz">kcoreaddons-5.248.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ff15b80dbdda016dd7474707e9f275b7b240e0ddef8b502073f6053c5198fa3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kcrash-5.248.0.tar.xz">kcrash-5.248.0</a></td>
   <td align="right">28kB</td>
   <td><tt>d28c1901de6fb6538b7b17d26600b0eb4d920abe0ec9b3a252b7095c50fc8858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kdav-5.248.0.tar.xz">kdav-5.248.0</a></td>
   <td align="right">65kB</td>
   <td><tt>f67a81e3ee854fea87640bf7f019a8d4ea281f036fc9dcc5d0aa2c2f7d682a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kdbusaddons-5.248.0.tar.xz">kdbusaddons-5.248.0</a></td>
   <td align="right">44kB</td>
   <td><tt>395c392ebb5eb01e36b291780dafdd72b6f221dd47209f3b37f56452e99db4fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kdeclarative-5.248.0.tar.xz">kdeclarative-5.248.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c5636eb35b20fa32da85a3ee6fc13767c1463f4123c3d8fb537e7980d768d518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kded-5.248.0.tar.xz">kded-5.248.0</a></td>
   <td align="right">31kB</td>
   <td><tt>755b283d18d2d9d4ba46dc5a05f7ee5bb6952bb3bc18db5b5b3b150424afdef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kdesu-5.248.0.tar.xz">kdesu-5.248.0</a></td>
   <td align="right">55kB</td>
   <td><tt>ddbfe6b6fe42f864976863779b37c87e5ca97930311523095378408f77ae3a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kdnssd-5.248.0.tar.xz">kdnssd-5.248.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4e85e2d0e972d553918f25063cb83740b809be721e0e0ddda7dd48c109241788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kdoctools-5.248.0.tar.xz">kdoctools-5.248.0</a></td>
   <td align="right">449kB</td>
   <td><tt>f3d64f9bebfe8a380cf9b3621e831e965607e3ede92f847a8c36bdcd2b2a0dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kfilemetadata-5.248.0.tar.xz">kfilemetadata-5.248.0</a></td>
   <td align="right">546kB</td>
   <td><tt>97f9228ac89bc71d93eb4b661a1d23decb897c9e5ce8c001fb044f7e69bd19dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kglobalaccel-5.248.0.tar.xz">kglobalaccel-5.248.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4c98cc8a2f1f0f6bd487465d04a80b4b10e45693954a6dc078da5904cf7449bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kguiaddons-5.248.0.tar.xz">kguiaddons-5.248.0</a></td>
   <td align="right">79kB</td>
   <td><tt>4c66f55e344036e3e31615da63c9251debaf99eac85335b315f41c750ef76a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kholidays-5.248.0.tar.xz">kholidays-5.248.0</a></td>
   <td align="right">246kB</td>
   <td><tt>47f99d5ba4fdc31417b9fd7824d74e0e84c7b8b114028d77998d1d4c929e3c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/ki18n-5.248.0.tar.xz">ki18n-5.248.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>06391ef39e048a6dd26e90a3d2a5c849be0dc95999a3e044bbabc4651976c69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kiconthemes-5.248.0.tar.xz">kiconthemes-5.248.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f044756ff2733d16a5d6d73c29550e4ec8178e5e8e9bb50da820aaa62d8c89b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kidletime-5.248.0.tar.xz">kidletime-5.248.0</a></td>
   <td align="right">30kB</td>
   <td><tt>bc50a7ab9d88bd18cabec8765a66288f966fd2997943393a1b6275f3a2ae463a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kimageformats-5.248.0.tar.xz">kimageformats-5.248.0</a></td>
   <td align="right">15MB</td>
   <td><tt>1167c664357978c787ee745c54712efaf02e795789d53c5ce7d8f91c934691b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kio-5.248.0.tar.xz">kio-5.248.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>eecfc5d9f829847c3b955046955a2d3bcd8740e746fc6feeb4f0873ee57dc58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kirigami-5.248.0.tar.xz">kirigami-5.248.0</a></td>
   <td align="right">358kB</td>
   <td><tt>2bed2aacd5427cae37164b7cc1f47c17bd238eeadc4272aa47b84d4a5ff66bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kitemmodels-5.248.0.tar.xz">kitemmodels-5.248.0</a></td>
   <td align="right">389kB</td>
   <td><tt>884e5b6fb09d2f95aa03ebe3f10f28ece2b79b68859721a20d3b12a87ff17c98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kitemviews-5.248.0.tar.xz">kitemviews-5.248.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ba07feb554410b226e274cbf6d331125c108c06c28a7d0e365daddb44f7770f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kjobwidgets-5.248.0.tar.xz">kjobwidgets-5.248.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>31c5b079bc2dba3e03c47da637ab31767c09176304809539879c9989461d64a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/knewstuff-5.248.0.tar.xz">knewstuff-5.248.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>09fc01ee3b42a5ba816a608315e7381410575263a3112bcd63ef39eb28b49e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/knotifications-5.248.0.tar.xz">knotifications-5.248.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c276832f8e2528a17d3aaeca2a85977ac834a11c563ea464cf18109d9026b1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/knotifyconfig-5.248.0.tar.xz">knotifyconfig-5.248.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dc0032a3726039cec039b44efed774c776b7a5223673f2f3eaaf80c720952862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kpackage-5.248.0.tar.xz">kpackage-5.248.0</a></td>
   <td align="right">174kB</td>
   <td><tt>d23054e60cadc8bbb9f0bf5711826e4d64938cb25f0d0a0d8f3606c071285975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kparts-5.248.0.tar.xz">kparts-5.248.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>eedba514f591ef5277e25ceada651f810895654a7773f2c8d6cf7a324976542e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kpeople-5.248.0.tar.xz">kpeople-5.248.0</a></td>
   <td align="right">64kB</td>
   <td><tt>78c584b87b9cb87800dd26f4737583320b0b8d7b56b0ac43c247313721d3f974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kplotting-5.248.0.tar.xz">kplotting-5.248.0</a></td>
   <td align="right">32kB</td>
   <td><tt>7d7f1168b0034b5b77ea202697e9eff50bcd920faf7c06ee473f2fb34206bc25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kpty-5.248.0.tar.xz">kpty-5.248.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>efdddde90431d68db4e83c73d0e10843d8d44bf76dbff08b3777640a853729ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kquickcharts-5.248.0.tar.xz">kquickcharts-5.248.0</a></td>
   <td align="right">107kB</td>
   <td><tt>be6dd4e02c2bda36bc01bcbc18ee90f9a6fa8c607ca60dd85eebfd8f0a4c0b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/krunner-5.248.0.tar.xz">krunner-5.248.0</a></td>
   <td align="right">128kB</td>
   <td><tt>15d77f1333a7fefac315686b33a8191d2efa3d1ebcf71573957f1a6f4d32af7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kservice-5.248.0.tar.xz">kservice-5.248.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>26cb99e84806b1a61370453cdb70c91bbbae97dd6a6310709db093198d2d9cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kstatusnotifieritem-5.248.0.tar.xz">kstatusnotifieritem-5.248.0</a></td>
   <td align="right">45kB</td>
   <td><tt>c4ce526873f6e8042fb6c5b51d78289d1d572bc5aca24be81193b1aca759034c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/ksvg-5.248.0.tar.xz">ksvg-5.248.0</a></td>
   <td align="right">86kB</td>
   <td><tt>d42e7a8cdb4d26c440cc2477b903829affaf91ead23e34f3a70e9901a2893202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/ktexteditor-5.248.0.tar.xz">ktexteditor-5.248.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b6dc2203148b3cc20c335c23722d320a24e72128e99d93dab8d303baaa182ffa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/ktexttemplate-5.248.0.tar.xz">ktexttemplate-5.248.0</a></td>
   <td align="right">827kB</td>
   <td><tt>9bc4ba284fd030ce37669433dffd5f41286fd5c9665478c9eb5f2742b400b748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/ktextwidgets-5.248.0.tar.xz">ktextwidgets-5.248.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b488aeb01b76d27a2f678ba3f16074344637dc8932cd584a25402bade0b5ae63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kunitconversion-5.248.0.tar.xz">kunitconversion-5.248.0</a></td>
   <td align="right">893kB</td>
   <td><tt>205a81b4d25213ff6203bd06e73d8d34df115cc406c884bc6d4f6193a19f08a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kuserfeedback-5.248.0.tar.xz">kuserfeedback-5.248.0</a></td>
   <td align="right">234kB</td>
   <td><tt>ce9704073e4cb52a6dff274650a4ef5d8959ada1feb3126d7772d9e221da8c04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kwallet-5.248.0.tar.xz">kwallet-5.248.0</a></td>
   <td align="right">341kB</td>
   <td><tt>e8f94e7e32c7e7edcf48d4b4b7d2ed50406f601a00e5ad3b9176f821ac490ee2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kwidgetsaddons-5.248.0.tar.xz">kwidgetsaddons-5.248.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>1661f0e12d0dce78b792d0576b8800dec15e88d18190c9cb98ccf603da53eff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kwindowsystem-5.248.0.tar.xz">kwindowsystem-5.248.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b7b3b7793e4053d7c0b02b3c56e04001d8a82541d0ae34269d73ef7067b700cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/kxmlgui-5.248.0.tar.xz">kxmlgui-5.248.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c427df029924474f122ad665b26ee86584dbcb5169c0b6e477ded8017f192c77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/modemmanager-qt-5.248.0.tar.xz">modemmanager-qt-5.248.0</a></td>
   <td align="right">120kB</td>
   <td><tt>893b1c9ff3bebeca0baf7a04969a79dbe87ae6d87f97e2262a1311be0c7d981f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/networkmanager-qt-5.248.0.tar.xz">networkmanager-qt-5.248.0</a></td>
   <td align="right">195kB</td>
   <td><tt>f8f7a634695f4f754701278e113aeaa0e4cc638b6dd9c6788f5fd4d66eab7a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/prison-5.248.0.tar.xz">prison-5.248.0</a></td>
   <td align="right">54kB</td>
   <td><tt>9865c666a59f864f90b55d9a553943e212f5e90ec7752bacbddc39911a8bd28e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/purpose-5.248.0.tar.xz">purpose-5.248.0</a></td>
   <td align="right">170kB</td>
   <td><tt>dd887c8533a38ff0dce4b31ca79479e36866811b8931d50c320842aa11d49bd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/qqc2-desktop-style-5.248.0.tar.xz">qqc2-desktop-style-5.248.0</a></td>
   <td align="right">76kB</td>
   <td><tt>7561607923c3290ee5ef0f131e513157d02cbf0a7fcc5aa308b652f234423dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/solid-5.248.0.tar.xz">solid-5.248.0</a></td>
   <td align="right">298kB</td>
   <td><tt>045b264a34a710caaaf2f2e60de6250116625b9d5e30c856a18d686329b2c523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/sonnet-5.248.0.tar.xz">sonnet-5.248.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d494e3070d7c5a76f0dc92ef49d2207e774b131f4a080836ef270ec6b374e841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/syndication-5.248.0.tar.xz">syndication-5.248.0</a></td>
   <td align="right">498kB</td>
   <td><tt>f9a50c6e4f9bbf7c20add07bd345018ec6718d9099c127aa6c49566994a9e847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/syntax-highlighting-5.248.0.tar.xz">syntax-highlighting-5.248.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>79a0933070528c070064a395e5238d1bee03d65b6f07ec58a55fccd2d92ae8bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.248.0/threadweaver-5.248.0.tar.xz">threadweaver-5.248.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6b35957bb5fd722832dd57e9a2193bc3b1b6d0a1d8a4719cf9890c2e66699a40</tt></td>
</tr>

</table>
