{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img class="d-none d-lg-block" style="width: 100%; max-width: 1500px;" alt="" src="/fundraisers/konqi-katie-donation.jpg">
      </div>
      <div class="col-lg-4">
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <div class="donorbox">
          <iframe style="border-radius: 8px;" src="https://donorbox.org/embed/kde-become-a-member" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
	        <p>Julio Moya ⭐ Alessio Adamo ⭐ Loïc Bersier ⭐ Michael Alexsander ⭐ Jacopo Schiavon ⭐ Dima T ⭐ Kristian Kriehl ⭐ Brett Hagen ⭐ Benny Fields ⭐ harry loh ⭐ Lasse Danegod ⭐ Luis Garcia ⭐ Alexander Reimelt ⭐ Dean Bradley ⭐ Travis Suel ⭐ Cornelius Kluge ⭐ Andreas Paul ⭐ ADAM K BIERMAN ⭐ Ami Chayun ⭐ Samir Nassar ⭐ Matt Milliman ⭐ scaine uk ⭐ Tasuku Suzuki ⭐ Chad McCullough ⭐ Oliver Rasche ⭐ Radek Nováček ⭐ D Ennis ⭐ Andy Meier ⭐ Linghai Yan ⭐ Pascal Mages ⭐ Andrew Keenan Richardson ⭐ Teodor Calin Sirbu ⭐ Michael Niehoff ⭐ Ralf Hein ⭐ Warren Krettek ⭐ Hennie Marais ⭐ Dino Čobo ⭐ Stewart Webb ⭐ Mehrad Mahmoudian ⭐ Fco Javier Bolívar ⭐ Simon Hötten ⭐ Lenno Nagel ⭐ Wolfgang Kerschbaumer ⭐ Àlex Magaz Graça ⭐ Frank Mankel ⭐ Aman Chhabra ⭐ Arthur Galiullin ⭐ Nostre NZ ⭐ Brandon Jones ⭐ Marijo Mustač ⭐ Jim Helm ⭐ Jacob Perron ⭐ Robert McCarter ⭐ Odin Vex ⭐ Tobias Brunner ⭐ Muthanna K. ⭐ Antoni Aloy Torrens ⭐ Robin Slot ⭐ Philipp Reichmuth ⭐ Dan Heneise ⭐ Andre Ramnitz ⭐ Alexey Andreyev ⭐ Nicola Mingotti ⭐ David Gow ⭐ Julius Binder ⭐ Costin-Tiberiu Vasilescu ⭐ Michael Schaffner ⭐ Jason Logue ⭐ TIMOPHEY TSITAVETS ⭐ Gerardus Franciscus Maria van Iersel ⭐ Aaron Bockelie ⭐ Matheus Ferreira Messias Guedes ⭐ Anael González Paz ⭐ Christian Hartmann ⭐ Henning Sextro ⭐ Tony James ⭐ Bernie Innocenti ⭐ Jack Case ⭐ Iain Cuthbertson ⭐ Mateusz Dytkowski ⭐ Marcus Harrison ⭐ Eve Carletti ⭐ Raphael Pretot ⭐ Łukasz Plich ⭐ Alicja Michalska ⭐ Jordi Ferrando ⭐ Akseli Lahtinen ⭐ Joost Cassee ⭐ Jeff Cain ⭐ Jens Erdmann ⭐ Federico Dossena ⭐ Piotr Gliźniewicz ⭐ Alexey Toklovich ⭐ Ryan McCullough ⭐ Przemysław Romanik ⭐ Antonio Teixeira ⭐ Milas Bowman ⭐ Achim Bohnet ⭐ Sebastian Turzanski ⭐ Jarkko Torvinen ⭐ Andrea Panontin ⭐ edwin vervliet ⭐ Ian Boll ⭐ Mario Loik ⭐ Jérémy Friche ⭐ José Couto ⭐ Henri Michael ⭐ Joey Eamigh ⭐ Sam Smucny ⭐ Mark Hiles ⭐ Störm Poorun ⭐ Michael Lelli ⭐ Aljosha Papsch ⭐ Mitchel Bone ⭐ Lennart Kroll ⭐ Nathan Westerman ⭐ Vojtech Kuchar ⭐ Paul Birkholtz ⭐ Rob Hyndman ⭐ Anthony Beninati ⭐ Emil Larsson ⭐ Márton Lente ⭐ Albert Goncharov ⭐ Stefan Zurucker-Burda ⭐ Simon Finlay ⭐ Owen Sessiecq ⭐ Marcel Pierre Simon ⭐ Dmitry Misharov ⭐ Sander Smid-Merlijn ⭐ Isaac Patton ⭐ Skye Van Valkenburgh ⭐ Nils Martens ⭐ Boji Tony ⭐ Lee Courington ⭐ Łukasz Konieczny ⭐ Alejandro Muñoz Fernández ⭐ Michael Bolleininger ⭐ Turritopsis Dohrnii Teo En Ming ⭐ Nathan Wolf ⭐ Johann Jacobsohn ⭐ Zhangzhi Hu ⭐ Klaus Wagner ⭐ Roger Granrud ⭐ Ryein Goddard ⭐ Florian Dittmer ⭐ Matthew Orr ⭐ Florian RICHER ⭐ David Walluscheck ⭐ Monica Ayhens-Madon ⭐ Sebastian Goth ⭐ Sergei Golimbievsky ⭐ Ján Trenčanský ⭐ Jeroen Huijsman ⭐ Antti Luoma ⭐ Sahan Fernando ⭐ Sebastian Löw ⭐ Luke Renaud ⭐ Andrea Scartazza ⭐ Pascal Schmidt ⭐ Shingo Ishida ⭐ Helge Bahmann ⭐ Maarten Bijster ⭐ Linus Karl ⭐ Denis Jovic ⭐ Will Butler ⭐ Peter Permenter ⭐ Bart Otten ⭐ Dominik Lux ⭐ Roberto Michán Sánchez ⭐ Alonso Mendoza ⭐ Samuel Jordan Kleinman ⭐ Paul Worrall ⭐ Dougie Beney ⭐ David Germain ⭐ William Z ⭐ Michael Brunner ⭐ Bjørnar Hausken ⭐ Mike Dawson ⭐ Bel Lord-Williams ⭐ Artem Puzikov ⭐ Mikko Mensonen ⭐ Jennifer Radtke ⭐ Regina Abendroth ⭐ Bernhard Breinbauer ⭐ Nikita Malgin ⭐ Stefan Neacsu ⭐ Petr Tesarik ⭐ Paul Merryfellow ⭐ Miku Hatsune ⭐ ILIOPOULOS IOANNIS ⭐ Ivo Marciniak ⭐ Stephane Perrin ⭐ Michael Stemle ⭐ Christian Gmeiner ⭐ Eric NGUYEN ⭐ Marco Nelles ⭐ Thomas Ludwig ⭐ Angus Kelsey ⭐ Yann Nux ⭐ Martin Bednar ⭐ Asim Shrestha ⭐ Wesley Schroth ⭐ Jure Repinc ⭐ Richard BEOLET ⭐ Conny Magnusson ⭐ Jakub Judas ⭐ Klemen Košir ⭐ Paulo Dias ⭐ Andrew Munkres ⭐ Björn Aili ⭐ Romain Fleurette ⭐ Yu Te Wang ⭐ Thomas Eckart ⭐ Norbert Spina ⭐ Malin Stanescu ⭐ Solomatin Vladimir ⭐ Moritz Lammerich ⭐ Marius Hergel ⭐ Michael Winters ⭐ Emanuele Cannizzaro ⭐ Nina Wanca ⭐ Daan Boerlage ⭐ Sergi Navas ⭐ Dominik Viskovic ⭐ Jan Iversen ⭐ Aurélien COUDERC ⭐ Alejandro Cholaquidis ⭐ Jacob Ludvigsen ⭐ Vladimir Baskakov ⭐ Nick Severino ⭐ Brandon Clark ⭐ Stanislas Leduc ⭐ Petr Kadlec ⭐ Max Buchholz ⭐ Rhys Jones ⭐ Mohammad Rawashdeh ⭐ Adrian Friedli ⭐ Arian Wichmann ⭐ Mihail Morosan ⭐ David Roth ⭐ Berker Şal ⭐ Sebastian Krönert ⭐ Galin Yordanov ⭐ Tapio Metsälä ⭐ Victor Castillo ⭐ Blair Thiessen ⭐ Justus Tartz ⭐ Daniel Bagge ⭐ Valentin Petzel ⭐ Florian Stadler ⭐ Marko Hehl ⭐ Dyllan Kobal ⭐ Max R ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Melissa Autumn ⭐ Jakob Rath ⭐ Neal Gompa ⭐ Cory Adkins ⭐ Nathaniel Housman ⭐ Ismar Kunic ⭐ Adam Dymitruk ⭐ Christian Moesgaard ⭐ Joan Aluja Oraá ⭐ R.A. Bijl ⭐ Burgess Chang ⭐ Jason Seville ⭐ Paxriel Pax ⭐ Alexander Ypema ⭐ Samuel Allen ⭐ Zach B ⭐ Jacob Childersmith ⭐ Sarat Chandra ⭐ Dennis Schumann ⭐ Gerhard Dittes ⭐ Markus Meier ⭐ Matthew Brunelle ⭐ Jaroslav Reznik ⭐ Baptiste Rajaut ⭐ ali xyz ⭐ Cristian Le ⭐ Malte Jürgens ⭐ Thomas ROBIN ⭐ Lukas Skala ⭐ Lars Jose ⭐ Huw McNamara ⭐ Tamas Kornman ⭐ Timothy Carr ⭐ Shayne Johnson ⭐ Vincent Wilms ⭐ George Pchelkin ⭐ Archie Lamb ⭐ Eduard Nikoleisen ⭐ Valerio Pilo ⭐ Marco Julian Solanki ⭐ Tim Blomme ⭐ Peter König ⭐ Quentin Stuchlik ⭐ Curtis Bullock ⭐ Jens Reimann ⭐ Grider Li ⭐ Francesco Sardara ⭐ Lukas Langrock ⭐ Douglas Shaw ⭐ Markus Ebner ⭐ Alexander Verweinen ⭐ Florian Dazinger ⭐ Zoran Dimovski ⭐ Kai-Uwe Uhlitzsch ⭐ Will Styler ⭐ Jarsto van Santen ⭐ Lukas Neubert ⭐ Jonatan Rosenius ⭐ Jens Churchill ⭐ Nicholas Harper ⭐ Jeremy Winter ⭐ Benjamin Terrier ⭐ Batuhan Cinar ⭐ Herbert Feiler ⭐ Tone Milazzo ⭐ Rainier Ramos ⭐ Fred Dickens ⭐ Tomás Duarte ⭐ Lukas Hannawald ⭐ Kieren Roberts ⭐ Logan Rogers-Follis ⭐ Coty Ternes ⭐ David Chocholatý ⭐ Gabriel Morell ⭐ Luis Alvarado ⭐ André Barata ⭐ Adam Szopa ⭐ Sebastian Fohler ⭐ JIMI ROSS ⭐ Mateusz Brdoń ⭐ Dennis Zellner ⭐ Artur Pieniążek ⭐ Keelan Jones ⭐ Régis GUYOMARCH ⭐ Aleksei Liudskoi ⭐ Matija Šuklje ⭐ Paul Fleischer ⭐ Kormos Krisztián ⭐ Björn Bauer ⭐ Ivan Sabourin ⭐ Mikle Kerim ⭐ Teague Millette ⭐ Nicola Jelmorini ⭐ Dirk Ziegelmeier ⭐ Nicolai Manique ⭐ Jonas Büttner ⭐ Jonas Hucklenbroich ⭐ Felix Knecht ⭐ Michel Filipe ⭐ Michael Meister ⭐ Dirk Holsopple ⭐ Christopher Clarke ⭐ Moritz Füssel ⭐ Niklas Kämper ⭐ Dave Lewis ⭐ Bryan Zaffino ⭐ Gregor Burgeff ⭐ Cody Harrison ⭐ Martin Supan ⭐ Alistair Bain ⭐ Cameron Bosch ⭐ Nicola Feltrin ⭐ Diego Miguel Lozano ⭐ Brendan Foote ⭐ Long Vu ⭐ Leander Nachreiner ⭐ Ondřej Vodáček ⭐ Stephen Crocker ⭐ Sebastian Paul ⭐ Jan De Luyck ⭐ Lauren Howe ⭐ Jay Tuckey ⭐ Marcos Gutiérrez Alonso ⭐ Ethan Hussong ⭐ Angelos Skembris ⭐ E. Mau. ⭐ Shawn Dunn ⭐ Michal Hlaváč ⭐ Ivan Nack ⭐ Pjol . ⭐ Sébastien Monassa ⭐ Julian Wefers ⭐ Carl Schwan ⭐ Brian Marsh ⭐ Dennis Malmin ⭐ Christoph Hümbert ⭐ Arthur Tadier ⭐ Andreas Heinkelein ⭐ Achilleas Koutsou ⭐ Paul McAuley ⭐ OC Blanco ⭐ John Kizer ⭐ Alishams Hassam ⭐ Elijah Helms ⭐ Nicolas Rojas ⭐ Christoffer Jansson ⭐ Rebecca Müller ⭐ Lucas Ji ⭐ Ulrich Schreiner ⭐ Marcin Mikołajczak ⭐ Denis Doria ⭐ Zacharie Monnet ⭐ Kim Hayo ⭐ Martin Beck ⭐ Rob Hasselbaum ⭐ Aroun Clément Baudouin-van Os ⭐ Hendrik Richter ⭐ Evan Chang ⭐ Steven Barrett ⭐ Kevin Messer ⭐ Chris Niewiarowski ⭐ Lizoblyud Lika ⭐ Justin Geigley ⭐ Gernot Schiller ⭐ Thibaud Franchetti ⭐ Luis Büchi ⭐ Dmytro Nezhevenko ⭐ Brian Aberts ⭐ Lukas Kucerik ⭐ Patrick Nagel ⭐ Rahul Ramesh ⭐ Flori G ⭐ Christopher Mandlbaur ⭐ José Guardado ⭐ Guillaume GAY ⭐ Simon Berz ⭐ Xuetian Weng ⭐ Nikolai Eugen Sandvik ⭐ Jonas Mutke ⭐ Mark Marsh ⭐ Jonas Gamao ⭐ Andrey Melentyev ⭐ Igor Stojkovic ⭐ Sacha Schutz ⭐ Harry A ⭐ Andrew Rosenwinkel ⭐ Nathan Pennington ⭐ Thomas Karpiniec ⭐ Fabian Niepelt ⭐ Marco Götze ⭐ Edoardo Regni ⭐ Dylan Taylor ⭐ Dave X ⭐ Techin Eamrurksiri ⭐ Benjamin Xiao ⭐ Ole Solbakken ⭐ Jimmy Lindsey ⭐ Trey Boyer ⭐ Patrick Gianelli ⭐ Alexander Gurenko ⭐ Michel van Son ⭐ Jaspal Chauhan ⭐ Christoph Vollmer ⭐ Dmitry Sobolev ⭐ Cass Midkiff ⭐ Peter Simonsson ⭐ Jim Crawford ⭐ Steffen Jasper ⭐ David Martinez ⭐ Yoann LE TOUCHE ⭐ your mom ⭐ Stefan Hellwig ⭐ Luciano Barea ⭐ Julian Borrero ⭐ Tom Schwarz ⭐ Batuhan Taskaya ⭐ Mark Woltman ⭐ Marián Polťák ⭐ Tubo Shi ⭐ Manuel Bödder ⭐ Peter Nunn ⭐ Semen Sobolev ⭐ Benjamin Tzschoppe ⭐ Lino Moser ⭐ Szymon Łągiewka ⭐ Titouan Fuchs ⭐ Yishu Wang ⭐ Daniel Lloyd-Miller ⭐ Ryan Chambers ⭐ Patrick David ⭐ Willow Aran ⭐ Johannes Wolf ⭐ Simon Österle ⭐ Arne Keller ⭐ Eddie Carswell ⭐ Kiril Vladimirov ⭐ Linda Polman ⭐ Joshua Mohr ⭐ Zane Godden ⭐ Shuyuan Liu ⭐ Daniel Hurtado ⭐ Étienne Pain ⭐ Petronio Coelho ⭐ François-Xavier Thomas ⭐ Byron Fröhlich ⭐ Nate Coffey ⭐ Mukilan Thiyagarajan ⭐ Moritz Schulte ⭐ Gaurav Dasharathe ⭐ Matthias Born ⭐ Robert Riemann ⭐ Mustafa Muhammad ⭐ Reid Wiggins ⭐ Joshua Phelps ⭐ Kevin McCarthy ⭐ Petri Koskimaa ⭐ Rodney Lorimor ⭐ Gleb Sinyavskiy ⭐ Pablo Caballero ⭐ Chrismettal Binary-6 ⭐ Christoph Singer ⭐ Brian Lemons ⭐ Jeremy Linton ⭐ Philipp Slusallek ⭐ Laust Lund Kristensen ⭐ Harald Gall ⭐ Bob Richter ⭐ bill morin ⭐ Diego Saavedra Aguirre ⭐ Andrija Jovanovic ⭐ Alexandre BROUET ⭐ Florian Edelmann ⭐ Witold Sosnowski ⭐ May Doušak ⭐ Lorenzo Bicci ⭐ Leif-Jöran Olsson ⭐ Vincent Delor ⭐ William Wojciechowski ⭐ Jed Baldwin ⭐ Max Schwarz ⭐ Carlos Gonzalez Cortes ⭐ Florentin Rack ⭐ Janis Bundschu ⭐ Bailey Hollis ⭐ Christian Strebel ⭐ Christian Hofstede-Kuhn ⭐ Guruprasad L ⭐ Marcel Siggelsten ⭐ Frédéric LAURENT ⭐ Tristan Remy ⭐ Robert Wolniak ⭐ Milton Hagler ⭐ Severin Hamader ⭐ Robert Levine ⭐ Bentleigh Beugelaar ⭐ Dennis Körner ⭐ Daniel Noga ⭐ Jeroen Tor ⭐ Chris Davis ⭐ Julian Raschke ⭐ Wyatt Childers ⭐ Paul Porubsky ⭐ Mikołaj Świątek ⭐ Lisardo Sobrino ⭐ Paul Elliott ⭐ Timo Büttner ⭐ Tommy Beauclair-Mariotti ⭐ Renārs Ceļapīters ⭐ Gerbrand van Dieyen ⭐ Srikar Gottipati ⭐ Samega 7Cattac
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
