<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadi-19.08.1.tar.xz">akonadi-19.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>30d8b38e9611c5004c2410a271f7ddf8f4ffa8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadi-calendar-19.08.1.tar.xz">akonadi-calendar-19.08.1</a></td>
   <td align="right">323kB</td>
   <td><tt>d6f8795992c9541141fb458998af3f3bfe67ca26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadi-calendar-tools-19.08.1.tar.xz">akonadi-calendar-tools-19.08.1</a></td>
   <td align="right">218kB</td>
   <td><tt>213ead609d45e4c40f4c41be4fe8e1e150410358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadiconsole-19.08.1.tar.xz">akonadiconsole-19.08.1</a></td>
   <td align="right">189kB</td>
   <td><tt>bd5ff4254b510ec5662a9fda2e08c8005fdfbcae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadi-contacts-19.08.1.tar.xz">akonadi-contacts-19.08.1</a></td>
   <td align="right">376kB</td>
   <td><tt>468cec0531a69e7014bdf8e895732d66479a3b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadi-import-wizard-19.08.1.tar.xz">akonadi-import-wizard-19.08.1</a></td>
   <td align="right">428kB</td>
   <td><tt>ae27d775093f41922457431ef9ecfa6810c50b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadi-mime-19.08.1.tar.xz">akonadi-mime-19.08.1</a></td>
   <td align="right">129kB</td>
   <td><tt>743cd81142fb03a95286b0217f20ec6502eeebee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadi-notes-19.08.1.tar.xz">akonadi-notes-19.08.1</a></td>
   <td align="right">23kB</td>
   <td><tt>a34e77a50c4ed141d90397e400eb0cfdb2204501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akonadi-search-19.08.1.tar.xz">akonadi-search-19.08.1</a></td>
   <td align="right">80kB</td>
   <td><tt>a4e7e65e01364993e1a7dd15b72c6e2569f5771e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/akregator-19.08.1.tar.xz">akregator-19.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d7bc93fa8ca6eafdbab4df0d6189e95ed5e2ae87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/analitza-19.08.1.tar.xz">analitza-19.08.1</a></td>
   <td align="right">324kB</td>
   <td><tt>0d644350fa8c0df5db45044b803f5e8d2cdcd22c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ark-19.08.1.tar.xz">ark-19.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3a5088a6a038322b72754accf6cb23fd6683918c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/artikulate-19.08.1.tar.xz">artikulate-19.08.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>0240a399b31fa45c3148f4a9a7aa0a1f73e3f508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/audiocd-kio-19.08.1.tar.xz">audiocd-kio-19.08.1</a></td>
   <td align="right">347kB</td>
   <td><tt>746c63f3150385fca8a7e664b780011cd531daa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/baloo-widgets-19.08.1.tar.xz">baloo-widgets-19.08.1</a></td>
   <td align="right">255kB</td>
   <td><tt>0e95cc0783912dca9fd28ff921d10ced02a20cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/blinken-19.08.1.tar.xz">blinken-19.08.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>18d997f7f0acc6a63fbae5c2cb9a4dffd2d413ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/bomber-19.08.1.tar.xz">bomber-19.08.1</a></td>
   <td align="right">801kB</td>
   <td><tt>6cde13631fd9084bb63056b76ad862b6f6ea8350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/bovo-19.08.1.tar.xz">bovo-19.08.1</a></td>
   <td align="right">194kB</td>
   <td><tt>d5a0ca301882ca314009474b687f0dbc5e70f391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/calendarsupport-19.08.1.tar.xz">calendarsupport-19.08.1</a></td>
   <td align="right">630kB</td>
   <td><tt>225b5e9d5a264a7b663cb600f6eca6d7920fcece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/cantor-19.08.1.tar.xz">cantor-19.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>476d2522474addef4cf35a4f76e47df0a0ae3aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/cervisia-19.08.1.tar.xz">cervisia-19.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7db687504a4d361ce775b053066f75216ee693d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/dolphin-19.08.1.tar.xz">dolphin-19.08.1</a></td>
   <td align="right">5.0MB</td>
   <td><tt>d8e19531ccd77249c056908f833ac7c58f6e3531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/dolphin-plugins-19.08.1.tar.xz">dolphin-plugins-19.08.1</a></td>
   <td align="right">187kB</td>
   <td><tt>09734e8966f8abb9356dcbae393d0a43c26604cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/dragon-19.08.1.tar.xz">dragon-19.08.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8894e6c66ff5a62207e45ce0fb528e0f3d3d6091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/eventviews-19.08.1.tar.xz">eventviews-19.08.1</a></td>
   <td align="right">432kB</td>
   <td><tt>d69f072b7c5c9395e04cb884c0c6d2a710453391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ffmpegthumbs-19.08.1.tar.xz">ffmpegthumbs-19.08.1</a></td>
   <td align="right">24kB</td>
   <td><tt>89e7d8f1db4727e49fdf01d31430416b5f62ac53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/filelight-19.08.1.tar.xz">filelight-19.08.1</a></td>
   <td align="right">645kB</td>
   <td><tt>fe6c295f00f87e1aa4d596d502266eaab5d16421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/granatier-19.08.1.tar.xz">granatier-19.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cf46f7333d26be3da81b482a08e1b462257d4390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/grantlee-editor-19.08.1.tar.xz">grantlee-editor-19.08.1</a></td>
   <td align="right">108kB</td>
   <td><tt>09189bc0b0089f8b05a6e7021f2a1cb556c98140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/grantleetheme-19.08.1.tar.xz">grantleetheme-19.08.1</a></td>
   <td align="right">50kB</td>
   <td><tt>58d41f55e7d987665f1146b96f22fe064be39bb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/gwenview-19.08.1.tar.xz">gwenview-19.08.1</a></td>
   <td align="right">5.4MB</td>
   <td><tt>dac8c3da59264ae8df996cfe8c0ecbc474f3093c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/incidenceeditor-19.08.1.tar.xz">incidenceeditor-19.08.1</a></td>
   <td align="right">537kB</td>
   <td><tt>0d72314d24d8166b3a39680d29b32945afa0f2d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/juk-19.08.1.tar.xz">juk-19.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3d98d4c2869c0afeb11fefc7edb0a86e41595d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/k3b-19.08.1.tar.xz">k3b-19.08.1</a></td>
   <td align="right">10MB</td>
   <td><tt>dca254dbd29b15028acfe8cd49cf82e8500c9801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kaccounts-integration-19.08.1.tar.xz">kaccounts-integration-19.08.1</a></td>
   <td align="right">70kB</td>
   <td><tt>b7a96b2568fc4d0d8c658ee6a7e38331466c0c2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kaccounts-providers-19.08.1.tar.xz">kaccounts-providers-19.08.1</a></td>
   <td align="right">31kB</td>
   <td><tt>b9b83dc4d5e324f0c8901e650c810782c68271f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kaddressbook-19.08.1.tar.xz">kaddressbook-19.08.1</a></td>
   <td align="right">463kB</td>
   <td><tt>c873dc811cfedcf93383a132834f28c15d1c8bd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kajongg-19.08.1.tar.xz">kajongg-19.08.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a7f4797cac904481225aca7de12ee842a76e6360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kalarm-19.08.1.tar.xz">kalarm-19.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a1018813e2c2840bee51c4815717b020bcb53f48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kalarmcal-19.08.1.tar.xz">kalarmcal-19.08.1</a></td>
   <td align="right">559kB</td>
   <td><tt>3c28ace95d0a3ce1c9eaea71dd0b7d31c2f844fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kalgebra-19.08.1.tar.xz">kalgebra-19.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>edc141783346c1370d30d37fa4a943f1c498bf27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kalzium-19.08.1.tar.xz">kalzium-19.08.1</a></td>
   <td align="right">25MB</td>
   <td><tt>a760aaed6eecc32769ce44ef8605433dda0aa015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kamera-19.08.1.tar.xz">kamera-19.08.1</a></td>
   <td align="right">97kB</td>
   <td><tt>e461e964da3e98ec2465eabd0500e2bb8166c984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kamoso-19.08.1.tar.xz">kamoso-19.08.1</a></td>
   <td align="right">196kB</td>
   <td><tt>62a9f05f832804d1e2da5c7f2c62cbe6ae3a9d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kanagram-19.08.1.tar.xz">kanagram-19.08.1</a></td>
   <td align="right">7.6MB</td>
   <td><tt>1d50ff414c077c6d0a3dcd6421ef5958dcee6c02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kapman-19.08.1.tar.xz">kapman-19.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1cafe5444e58867ec215a80674a4493a34e8874f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kapptemplate-19.08.1.tar.xz">kapptemplate-19.08.1</a></td>
   <td align="right">308kB</td>
   <td><tt>841e4297559e006e78e7bbba197bbf1a46a23163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kate-19.08.1.tar.xz">kate-19.08.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>e281e34d1b431a8e6d8e1a90d22449786ea24de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/katomic-19.08.1.tar.xz">katomic-19.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0cb7717fdc8e907971d3ac24c54e35fee872d5cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kbackup-19.08.1.tar.xz">kbackup-19.08.1</a></td>
   <td align="right">349kB</td>
   <td><tt>036033880b3ca615538ef4dee96c5e3786261f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kblackbox-19.08.1.tar.xz">kblackbox-19.08.1</a></td>
   <td align="right">432kB</td>
   <td><tt>45851d81d7877f7d7ab79a4a862d5d4491ee6113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kblocks-19.08.1.tar.xz">kblocks-19.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>989d9c00d903796e1f6f8cd8c4bf45e0b38d8885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kblog-19.08.1.tar.xz">kblog-19.08.1</a></td>
   <td align="right">71kB</td>
   <td><tt>6de64870b3a142b0b7db47d0744c962c64815be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kbounce-19.08.1.tar.xz">kbounce-19.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>b0167e2a21f2c6dc3829078d40f8d5319cb7544f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kbreakout-19.08.1.tar.xz">kbreakout-19.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8bef008f85fa8abefbc3c1c35dc17caaceff643e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kbruch-19.08.1.tar.xz">kbruch-19.08.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>f64ca6cfbefc859583376207ea43ccf5024a3f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kcachegrind-19.08.1.tar.xz">kcachegrind-19.08.1</a></td>
   <td align="right">794kB</td>
   <td><tt>e31e782ff29d766140d634551d542622eb115950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kcalc-19.08.1.tar.xz">kcalc-19.08.1</a></td>
   <td align="right">363kB</td>
   <td><tt>11330bd8f4bc07aa3919b747f888eebf79ea15e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kcalcore-19.08.1.tar.xz">kcalcore-19.08.1</a></td>
   <td align="right">240kB</td>
   <td><tt>71328bcaa200be9b0eb552b5e852c919dfc9bfbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kcalutils-19.08.1.tar.xz">kcalutils-19.08.1</a></td>
   <td align="right">316kB</td>
   <td><tt>85a928ea81df20c9bf1884072365d74164250427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kcharselect-19.08.1.tar.xz">kcharselect-19.08.1</a></td>
   <td align="right">326kB</td>
   <td><tt>a375dd269f2eccbd6bd499c89dd60198ecb989af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kcolorchooser-19.08.1.tar.xz">kcolorchooser-19.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>214873190e0cd5e52dd8a5fd5fa159068168ebab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kcontacts-19.08.1.tar.xz">kcontacts-19.08.1</a></td>
   <td align="right">534kB</td>
   <td><tt>8733ac3baba2227e003f1a904e12a4bd7066f483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kcron-19.08.1.tar.xz">kcron-19.08.1</a></td>
   <td align="right">867kB</td>
   <td><tt>71a2a1bad02741d769b07d0e2a13355af133cc20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdav-19.08.1.tar.xz">kdav-19.08.1</a></td>
   <td align="right">48kB</td>
   <td><tt>0350f0be0aecdba6084cf495e68299bfac447921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdebugsettings-19.08.1.tar.xz">kdebugsettings-19.08.1</a></td>
   <td align="right">53kB</td>
   <td><tt>953c038dac059a76db5d45fc9426432d77c1fcff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kde-dev-scripts-19.08.1.tar.xz">kde-dev-scripts-19.08.1</a></td>
   <td align="right">369kB</td>
   <td><tt>7892680bb29d1351cac6e5f88d0c181ec4f8daeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kde-dev-utils-19.08.1.tar.xz">kde-dev-utils-19.08.1</a></td>
   <td align="right">60kB</td>
   <td><tt>7237d8452f0642f238790614ddf9ce583f8d01ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdeedu-data-19.08.1.tar.xz">kdeedu-data-19.08.1</a></td>
   <td align="right">319kB</td>
   <td><tt>02f2389a28ae212cfdbadcb48a385f27b7de0e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdegraphics-mobipocket-19.08.1.tar.xz">kdegraphics-mobipocket-19.08.1</a></td>
   <td align="right">13kB</td>
   <td><tt>14ea4304c14072c43138c6515cb35b058c1a49c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdegraphics-thumbnailers-19.08.1.tar.xz">kdegraphics-thumbnailers-19.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>fe8bd906f37511986f84dd021b0a5ba70e23aa83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdenetwork-filesharing-19.08.1.tar.xz">kdenetwork-filesharing-19.08.1</a></td>
   <td align="right">307kB</td>
   <td><tt>4bfd855f653a5971350eb36aed0c7d0872b02b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdenlive-19.08.1.tar.xz">kdenlive-19.08.1</a></td>
   <td align="right">11MB</td>
   <td><tt>65eac76aae8ca911d53186b315a09b886cf4bdac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdepim-addons-19.08.1.tar.xz">kdepim-addons-19.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1b62fe431f957b1deb8d458de324381e6e316d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdepim-apps-libs-19.08.1.tar.xz">kdepim-apps-libs-19.08.1</a></td>
   <td align="right">80kB</td>
   <td><tt>214e33a0564459abc3820bee53a18f23bec57e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdepim-runtime-19.08.1.tar.xz">kdepim-runtime-19.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2f633d2bd08cc2c18b3570d052764b541148a5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdesdk-kioslaves-19.08.1.tar.xz">kdesdk-kioslaves-19.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>ad3901507a21b8d08cc9cb9d5bdc135b9c74a68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdesdk-thumbnailers-19.08.1.tar.xz">kdesdk-thumbnailers-19.08.1</a></td>
   <td align="right">16kB</td>
   <td><tt>ec55d230e5765ff34681c796143be7f0a00b2289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdf-19.08.1.tar.xz">kdf-19.08.1</a></td>
   <td align="right">451kB</td>
   <td><tt>04def4a515477df4e265f813999190fbb93ac3fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdialog-19.08.1.tar.xz">kdialog-19.08.1</a></td>
   <td align="right">100kB</td>
   <td><tt>53e9e61bf19a805f1028923f842501a7728b0413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kdiamond-19.08.1.tar.xz">kdiamond-19.08.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>bd4845be8144b19117e76d8c140f387ff55bcaba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/keditbookmarks-19.08.1.tar.xz">keditbookmarks-19.08.1</a></td>
   <td align="right">183kB</td>
   <td><tt>038d6bdfe1c5c9ef254604f00f1deccddc1dcdff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kfind-19.08.1.tar.xz">kfind-19.08.1</a></td>
   <td align="right">264kB</td>
   <td><tt>cdf6de6050bade6b5b4cb99a7db75d8972f77499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kfloppy-19.08.1.tar.xz">kfloppy-19.08.1</a></td>
   <td align="right">194kB</td>
   <td><tt>25bcf5c8428a3c482c8696a4a2d509ba387bdff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kfourinline-19.08.1.tar.xz">kfourinline-19.08.1</a></td>
   <td align="right">622kB</td>
   <td><tt>952410343b7e0cbb8c7b6895aab18adac12dcccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kgeography-19.08.1.tar.xz">kgeography-19.08.1</a></td>
   <td align="right">10MB</td>
   <td><tt>54270b4beb0fce859837258a6e26593cafc1a99e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kget-19.08.1.tar.xz">kget-19.08.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>50bc01d66039f9be6d4742b50b8dfcb8f78338ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kgoldrunner-19.08.1.tar.xz">kgoldrunner-19.08.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>56257205e5ed4771e3c9e8d5982e1f31e9abb6e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kgpg-19.08.1.tar.xz">kgpg-19.08.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e887261b8ff8ebb7af42969e26f100ff0cdf3877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/khangman-19.08.1.tar.xz">khangman-19.08.1</a></td>
   <td align="right">6.7MB</td>
   <td><tt>3ca869d33eed5fb3bb3e5a9d6a3e965932c578cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/khelpcenter-19.08.1.tar.xz">khelpcenter-19.08.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>67c9aa9d823eed0f3e2a5f5c99de3c3cde6bd858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kidentitymanagement-19.08.1.tar.xz">kidentitymanagement-19.08.1</a></td>
   <td align="right">145kB</td>
   <td><tt>325e4c9778abed206740490919daaf8a889384aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kig-19.08.1.tar.xz">kig-19.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>890e8bc590c0f5746ed98b7b3d43528c85874017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kigo-19.08.1.tar.xz">kigo-19.08.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>869c939e02bbec06be2b107789c9aaabcbfb58d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/killbots-19.08.1.tar.xz">killbots-19.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>52a70238904c7c5d54f983c7bd134b353251e440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kimagemapeditor-19.08.1.tar.xz">kimagemapeditor-19.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d65ac4e3d496a7923179e7ffc48c43dd0e814908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kimap-19.08.1.tar.xz">kimap-19.08.1</a></td>
   <td align="right">116kB</td>
   <td><tt>bf9d95e0a63f14b795e94eb2687406ddcfcae97d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kio-extras-19.08.1.tar.xz">kio-extras-19.08.1</a></td>
   <td align="right">563kB</td>
   <td><tt>99670e08c30c25e2831782dd0489a72186230b4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kipi-plugins-19.08.1.tar.xz">kipi-plugins-19.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a085f9c10b414891a6327e68a0ec63c20c69eccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kirigami-gallery-19.08.1.tar.xz">kirigami-gallery-19.08.1</a></td>
   <td align="right">267kB</td>
   <td><tt>9c248715b6d03e2ca111bdf960ca742394bf2399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kiriki-19.08.1.tar.xz">kiriki-19.08.1</a></td>
   <td align="right">364kB</td>
   <td><tt>ad5de0919e0be71f86a2898bb1b395eb133054ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kiten-19.08.1.tar.xz">kiten-19.08.1</a></td>
   <td align="right">10MB</td>
   <td><tt>06db56688d8b64680a4e61d3ca637a391162a560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kitinerary-19.08.1.tar.xz">kitinerary-19.08.1</a></td>
   <td align="right">930kB</td>
   <td><tt>9f8d61bd6cc36b309d183399e109a03b93d128aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kjumpingcube-19.08.1.tar.xz">kjumpingcube-19.08.1</a></td>
   <td align="right">281kB</td>
   <td><tt>6ec440608f673aa843357cfcf01b37311e4c64db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kldap-19.08.1.tar.xz">kldap-19.08.1</a></td>
   <td align="right">151kB</td>
   <td><tt>2bee6c14a2258ce74a76a2c16da47eff8a5a4aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kleopatra-19.08.1.tar.xz">kleopatra-19.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>40398eab4777a20c03bf34877eeef13c8040a2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/klettres-19.08.1.tar.xz">klettres-19.08.1</a></td>
   <td align="right">38MB</td>
   <td><tt>79fc240fba31d1319d172f2dd534895c5b1edc87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/klickety-19.08.1.tar.xz">klickety-19.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ffa69a60dda3a634bebf3e43b7087a2aa6e466e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/klines-19.08.1.tar.xz">klines-19.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>eaf67e2b162b22b5f3a7986587532d76bbdd97ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmag-19.08.1.tar.xz">kmag-19.08.1</a></td>
   <td align="right">658kB</td>
   <td><tt>b855f1ae0c48cf0b52dcb446e23eeda5be10a587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmahjongg-19.08.1.tar.xz">kmahjongg-19.08.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>3fd37029ba8e2d53acc298bfe63c68167e249d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmail-19.08.1.tar.xz">kmail-19.08.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>5778afd7646c9cf41aafc540112beca07b5dd37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmail-account-wizard-19.08.1.tar.xz">kmail-account-wizard-19.08.1</a></td>
   <td align="right">154kB</td>
   <td><tt>676db8ea3c48c9731c84a8005b50f19efd330fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmailtransport-19.08.1.tar.xz">kmailtransport-19.08.1</a></td>
   <td align="right">162kB</td>
   <td><tt>d81693fd54ac7be7d206ca462aee2a36fb4523eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmbox-19.08.1.tar.xz">kmbox-19.08.1</a></td>
   <td align="right">24kB</td>
   <td><tt>a47c23420f29912f6d909093baabfe500eaa8065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmime-19.08.1.tar.xz">kmime-19.08.1</a></td>
   <td align="right">144kB</td>
   <td><tt>e74091a9f9b69378fb43f642b462d3c383a99283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmines-19.08.1.tar.xz">kmines-19.08.1</a></td>
   <td align="right">877kB</td>
   <td><tt>61eb449a98f2aebe9b410585b564bddd71980fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmix-19.08.1.tar.xz">kmix-19.08.1</a></td>
   <td align="right">981kB</td>
   <td><tt>5237a9819ea1bdeaff3e10c447945f9cf5f3c21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmousetool-19.08.1.tar.xz">kmousetool-19.08.1</a></td>
   <td align="right">110kB</td>
   <td><tt>fee0036be80f7ac4522565768f526ed1a4eef9d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmouth-19.08.1.tar.xz">kmouth-19.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3fe139121acd02e26c4fbd3facc3a889c75425b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kmplot-19.08.1.tar.xz">kmplot-19.08.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e4d0fdfb46bdecb53a3d8de73522d2a5f7ba267d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/knavalbattle-19.08.1.tar.xz">knavalbattle-19.08.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>dd0573c28227eaae2ac209d726d15553d8b7a451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/knetwalk-19.08.1.tar.xz">knetwalk-19.08.1</a></td>
   <td align="right">1013kB</td>
   <td><tt>194958d755e49dfbafe2277c7377198adeaf374d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/knights-19.08.1.tar.xz">knights-19.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>0c2774b5c2fb4aa729a70407c255c60fd6cea8f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/knotes-19.08.1.tar.xz">knotes-19.08.1</a></td>
   <td align="right">312kB</td>
   <td><tt>a3b2736cc08b72e962aa8a5f4cb2347fc67a3fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kolf-19.08.1.tar.xz">kolf-19.08.1</a></td>
   <td align="right">1007kB</td>
   <td><tt>b9925d0f156766425c712d1ad831ad4a0a18d670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kollision-19.08.1.tar.xz">kollision-19.08.1</a></td>
   <td align="right">274kB</td>
   <td><tt>a476da73fdf6c7e21d0caa009cab3a8f8cf6e0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kolourpaint-19.08.1.tar.xz">kolourpaint-19.08.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>05cd62008528b29933580a6037150138f6ed6114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kompare-19.08.1.tar.xz">kompare-19.08.1</a></td>
   <td align="right">782kB</td>
   <td><tt>4bea5ee84aa86da3573eab49705d5b3f400b45a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/konqueror-19.08.1.tar.xz">konqueror-19.08.1</a></td>
   <td align="right">7.2MB</td>
   <td><tt>ab5ec3375f836f26e33ca34396f6ecc615a9933d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/konquest-19.08.1.tar.xz">konquest-19.08.1</a></td>
   <td align="right">642kB</td>
   <td><tt>e845e958ebe8c4aaa8bf2724b5b153efb604a094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/konsole-19.08.1.tar.xz">konsole-19.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>172b885335167a3e04f824e9f38b8cbbcc88e734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kontact-19.08.1.tar.xz">kontact-19.08.1</a></td>
   <td align="right">776kB</td>
   <td><tt>dc6bcf28ef67fd0052a19daea45e3f59543444d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kontactinterface-19.08.1.tar.xz">kontactinterface-19.08.1</a></td>
   <td align="right">32kB</td>
   <td><tt>5ee35b42dd2e3abebbf7964f4a8472e5c54a7d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kopete-19.08.1.tar.xz">kopete-19.08.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>5af25997fa4778eb93c349083b829971d700d7d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/korganizer-19.08.1.tar.xz">korganizer-19.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>739c8951c4b5a62522df4febd9100f167ec1a4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kpat-19.08.1.tar.xz">kpat-19.08.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>0b7126b307e20eda571bc34b057a8fd31b3216a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kpimtextedit-19.08.1.tar.xz">kpimtextedit-19.08.1</a></td>
   <td align="right">151kB</td>
   <td><tt>ac2229e0116338b403677316db4fde4c9a542eb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kpkpass-19.08.1.tar.xz">kpkpass-19.08.1</a></td>
   <td align="right">22kB</td>
   <td><tt>64fae169b43363efb79ee0145cf0956794093db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kqtquickcharts-19.08.1.tar.xz">kqtquickcharts-19.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>372c5724136178d61c8dc5c4e00453ea1316b88e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/krdc-19.08.1.tar.xz">krdc-19.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b6d29f127032ddc5d5b443fd01d3e04ccac460d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kreversi-19.08.1.tar.xz">kreversi-19.08.1</a></td>
   <td align="right">921kB</td>
   <td><tt>3580a08ede93e75ad5a078127a24e7a6843d2b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/krfb-19.08.1.tar.xz">krfb-19.08.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>7e59f88cc755b2ab3f7326ae137f7df75ac70048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kross-interpreters-19.08.1.tar.xz">kross-interpreters-19.08.1</a></td>
   <td align="right">148kB</td>
   <td><tt>ff6914443d5b02d1b19e7e274749eca38f247e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kruler-19.08.1.tar.xz">kruler-19.08.1</a></td>
   <td align="right">243kB</td>
   <td><tt>907f242562aeede28e758f415c24a4d524bd368f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kshisen-19.08.1.tar.xz">kshisen-19.08.1</a></td>
   <td align="right">803kB</td>
   <td><tt>8929181342ececf2d2fe67915d49682cfb2ec06c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ksirk-19.08.1.tar.xz">ksirk-19.08.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>9483cba92647cb60fd8eb79f5a06408151211bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ksmtp-19.08.1.tar.xz">ksmtp-19.08.1</a></td>
   <td align="right">39kB</td>
   <td><tt>55250c16b4cf8c55b4ff1394515f9149676ee151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ksnakeduel-19.08.1.tar.xz">ksnakeduel-19.08.1</a></td>
   <td align="right">591kB</td>
   <td><tt>54646a31461ba14851fb757e6c3fd782b7cf9737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kspaceduel-19.08.1.tar.xz">kspaceduel-19.08.1</a></td>
   <td align="right">596kB</td>
   <td><tt>a3aabd17fd0b5edb72410340e3050f98569bf5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ksquares-19.08.1.tar.xz">ksquares-19.08.1</a></td>
   <td align="right">254kB</td>
   <td><tt>86a98ced65b8af67235d71908c66c4e9f7f81314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ksudoku-19.08.1.tar.xz">ksudoku-19.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>02b863ddededf4b856a423921a1ebd72d54f3067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ksystemlog-19.08.1.tar.xz">ksystemlog-19.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>dadb7b36504e2f4a538ae3617b0622d9eee29083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kteatime-19.08.1.tar.xz">kteatime-19.08.1</a></td>
   <td align="right">280kB</td>
   <td><tt>73f34be53370bb7656ee829eb15f408a6604cc13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktimer-19.08.1.tar.xz">ktimer-19.08.1</a></td>
   <td align="right">368kB</td>
   <td><tt>ee1a6a4225462740b2b213c862cb00e091f9692d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktnef-19.08.1.tar.xz">ktnef-19.08.1</a></td>
   <td align="right">292kB</td>
   <td><tt>9d4b038a1e6bd66c32b85f6575ac91619bdc4ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktouch-19.08.1.tar.xz">ktouch-19.08.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>d8bd385b10ae7fc6a939c7003bd224e720d38c8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-accounts-kcm-19.08.1.tar.xz">ktp-accounts-kcm-19.08.1</a></td>
   <td align="right">258kB</td>
   <td><tt>159c8b415125b98f7dcf1988cd1161a6a4d57a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-approver-19.08.1.tar.xz">ktp-approver-19.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>b50657e93b43d871f8c08d98fed3d045a183da50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-auth-handler-19.08.1.tar.xz">ktp-auth-handler-19.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>10456648fbcb4cfa9b1d0ce03be2eeedc24558ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-call-ui-19.08.1.tar.xz">ktp-call-ui-19.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>324431a23d003bc0ad85f5ff0d4c7ad9ee978cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-common-internals-19.08.1.tar.xz">ktp-common-internals-19.08.1</a></td>
   <td align="right">434kB</td>
   <td><tt>d2a3219f580f6f6a872bb6807412b4a948adaefa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-contact-list-19.08.1.tar.xz">ktp-contact-list-19.08.1</a></td>
   <td align="right">145kB</td>
   <td><tt>b8f9bac7f4723d3b186eaf1ab94b4bf08e1193ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-contact-runner-19.08.1.tar.xz">ktp-contact-runner-19.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>b0b3c640192a54ce77e30fcc783ad20f680997d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-desktop-applets-19.08.1.tar.xz">ktp-desktop-applets-19.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>4886a98703c98a684f8e99e55e457cef8ee4b96d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-filetransfer-handler-19.08.1.tar.xz">ktp-filetransfer-handler-19.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>69fb8d146fd533ec6c22d3490abb5b1a8dbd7588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-kded-module-19.08.1.tar.xz">ktp-kded-module-19.08.1</a></td>
   <td align="right">95kB</td>
   <td><tt>08b39d057b2328d7b8e320e736dfc047637e5404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-send-file-19.08.1.tar.xz">ktp-send-file-19.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>bd6b0a4ac92a54f44f172af6c246eee8e80d33d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktp-text-ui-19.08.1.tar.xz">ktp-text-ui-19.08.1</a></td>
   <td align="right">460kB</td>
   <td><tt>c5c276aee42bc2fc807523a19132cc6810f506ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/ktuberling-19.08.1.tar.xz">ktuberling-19.08.1</a></td>
   <td align="right">31MB</td>
   <td><tt>0de8a0e7d984678dcaeeb2c3e7c554cd99daa5d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kturtle-19.08.1.tar.xz">kturtle-19.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a61a6eb5e1cd99114c1afa490f7f5bbcb309ce42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kubrick-19.08.1.tar.xz">kubrick-19.08.1</a></td>
   <td align="right">306kB</td>
   <td><tt>7332a9a90ff6cda4609602c52398b70bd433367c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kwalletmanager-19.08.1.tar.xz">kwalletmanager-19.08.1</a></td>
   <td align="right">767kB</td>
   <td><tt>a910af4e4113650b63b6065df5e3b4da82164024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kwave-19.08.1.tar.xz">kwave-19.08.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>a359c8fa52f7a9144a41aa3df6960a63f63df1a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/kwordquiz-19.08.1.tar.xz">kwordquiz-19.08.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>3f80ab86280dd9273b0ae493bc529c2390ca26d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libgravatar-19.08.1.tar.xz">libgravatar-19.08.1</a></td>
   <td align="right">30kB</td>
   <td><tt>83d030530ee72393b32e42a7e9c56e3dbb451955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkcddb-19.08.1.tar.xz">libkcddb-19.08.1</a></td>
   <td align="right">413kB</td>
   <td><tt>40267716d414b845f30248fcd4e255cc85b6913e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkcompactdisc-19.08.1.tar.xz">libkcompactdisc-19.08.1</a></td>
   <td align="right">86kB</td>
   <td><tt>69c0131ef7c412ef91bd7dd52f67f13fbc984435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkdcraw-19.08.1.tar.xz">libkdcraw-19.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>4f8781a4175f7ddf2a2b7da5822af8eefa8535ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkdegames-19.08.1.tar.xz">libkdegames-19.08.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>3ea8aa6565ccc85f22db776e9dd7fab320a28dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkdepim-19.08.1.tar.xz">libkdepim-19.08.1</a></td>
   <td align="right">325kB</td>
   <td><tt>c93a29fbce256d647ab5873b558f43c9a8bca9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkeduvocdocument-19.08.1.tar.xz">libkeduvocdocument-19.08.1</a></td>
   <td align="right">206kB</td>
   <td><tt>77145602240c13579c1afaa89bf8805775ed3cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkexiv2-19.08.1.tar.xz">libkexiv2-19.08.1</a></td>
   <td align="right">62kB</td>
   <td><tt>be6dcba7affe1a9568df995c6f172e7030f20b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkgapi-19.08.1.tar.xz">libkgapi-19.08.1</a></td>
   <td align="right">230kB</td>
   <td><tt>aa63fb7de6d650dab68e4d7f630ecc5c1b1a7229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkgeomap-19.08.1.tar.xz">libkgeomap-19.08.1</a></td>
   <td align="right">147kB</td>
   <td><tt>9f06e9fe88bf4b122fae0b4af67236206e7318b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkipi-19.08.1.tar.xz">libkipi-19.08.1</a></td>
   <td align="right">101kB</td>
   <td><tt>81ebac72db7a3b8a9b11a0a1636f561c03f90798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkleo-19.08.1.tar.xz">libkleo-19.08.1</a></td>
   <td align="right">330kB</td>
   <td><tt>c6b89772b0c8e4770db1c91dc87a580b4708031f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkmahjongg-19.08.1.tar.xz">libkmahjongg-19.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2621941422e67d08d44d2fb51b963570ea2b1cfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libkomparediff2-19.08.1.tar.xz">libkomparediff2-19.08.1</a></td>
   <td align="right">169kB</td>
   <td><tt>dd01666a42532f4a22d01f1b51199c8191657dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libksane-19.08.1.tar.xz">libksane-19.08.1</a></td>
   <td align="right">135kB</td>
   <td><tt>3aa4c4704ee90bb8c02e154aee53180a63a04dd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/libksieve-19.08.1.tar.xz">libksieve-19.08.1</a></td>
   <td align="right">538kB</td>
   <td><tt>1156f024b4b04e8c5e09e24b5ebcf29dd5855927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/lokalize-19.08.1.tar.xz">lokalize-19.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>975d90f8835c8595f1aa77ecbbaf8f849206047c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/lskat-19.08.1.tar.xz">lskat-19.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9d4e7a49c2cdfac39901ef5b22244f81f2911d52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/mailcommon-19.08.1.tar.xz">mailcommon-19.08.1</a></td>
   <td align="right">676kB</td>
   <td><tt>1c47e119a65cc0c6e9f9852ecc5c7f063cba5b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/mailimporter-19.08.1.tar.xz">mailimporter-19.08.1</a></td>
   <td align="right">527kB</td>
   <td><tt>770d7f8a9348ab347e4a5271a94df5bd5c8ca48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/marble-19.08.1.tar.xz">marble-19.08.1</a></td>
   <td align="right">49MB</td>
   <td><tt>b68a31e9cd06752ce3850c9b14ceadf045ac9399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/mbox-importer-19.08.1.tar.xz">mbox-importer-19.08.1</a></td>
   <td align="right">32kB</td>
   <td><tt>92e8aad8fb28a39cdf4944e69f4150f52a1d8c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/messagelib-19.08.1.tar.xz">messagelib-19.08.1</a></td>
   <td align="right">9.8MB</td>
   <td><tt>92d1ad7027d38c5b49ef714e3ad9e1bcd3b544e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/minuet-19.08.1.tar.xz">minuet-19.08.1</a></td>
   <td align="right">26MB</td>
   <td><tt>c2abfa88258743384891f165e6f95c137d0dbfdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/okular-19.08.1.tar.xz">okular-19.08.1</a></td>
   <td align="right">6.7MB</td>
   <td><tt>d99f17b4303e75a0fb3f1ac48516a30b99ce5a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/palapeli-19.08.1.tar.xz">palapeli-19.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f621fe2a170bbc89a18e9b6275289fc4adcfd9bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/parley-19.08.1.tar.xz">parley-19.08.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>7212ce5a6f9a4b09fa4936597b2b3e4ea27ed3f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/picmi-19.08.1.tar.xz">picmi-19.08.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>55a499ffd96f63b27724fad6c285fe3f9184107c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/pimcommon-19.08.1.tar.xz">pimcommon-19.08.1</a></td>
   <td align="right">286kB</td>
   <td><tt>66e29bb634ccff250a089c84d8f01464970cbd56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/pim-data-exporter-19.08.1.tar.xz">pim-data-exporter-19.08.1</a></td>
   <td align="right">198kB</td>
   <td><tt>9a6c2045597fc1cb3b2613064fa1a082d292fd51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/pim-sieve-editor-19.08.1.tar.xz">pim-sieve-editor-19.08.1</a></td>
   <td align="right">439kB</td>
   <td><tt>3846831628160793ca74af1df8c216c35b02fc65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/poxml-19.08.1.tar.xz">poxml-19.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>7fb198171e7cea50d70ed0eb8ad14f06d9289de0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/print-manager-19.08.1.tar.xz">print-manager-19.08.1</a></td>
   <td align="right">239kB</td>
   <td><tt>1f90f3236aa281084deecb99c5c7c96b77aa71dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/rocs-19.08.1.tar.xz">rocs-19.08.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>74b7f60787f81024821bc1510759824d826022a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/signon-kwallet-extension-19.08.1.tar.xz">signon-kwallet-extension-19.08.1</a></td>
   <td align="right">10kB</td>
   <td><tt>aced15de92e64ebc67f0e2443d4a824863fddca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/spectacle-19.08.1.tar.xz">spectacle-19.08.1</a></td>
   <td align="right">942kB</td>
   <td><tt>f176f9760738f8053fcba833409f90b0f327fad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/step-19.08.1.tar.xz">step-19.08.1</a></td>
   <td align="right">849kB</td>
   <td><tt>bc1b31bfb34d5536f9deea82434a13805f570e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/svgpart-19.08.1.tar.xz">svgpart-19.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>129884f7596081df77225f69559feba36e91b7bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/sweeper-19.08.1.tar.xz">sweeper-19.08.1</a></td>
   <td align="right">359kB</td>
   <td><tt>785fa1c4d37ea594dc4ade1c604053dfe9d25f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/umbrello-19.08.1.tar.xz">umbrello-19.08.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>f72cea687172a5adeeb07328325c3ed6d3073179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/yakuake-19.08.1.tar.xz">yakuake-19.08.1</a></td>
   <td align="right">361kB</td>
   <td><tt>2df5f982cec837a06c951377aeb846d2bd1e3505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.1/src/zeroconf-ioslave-19.08.1.tar.xz">zeroconf-ioslave-19.08.1</a></td>
   <td align="right">38kB</td>
   <td><tt>b098ae146843a50f5176b392609a8a9082fb1de3</tt></td>
</tr>

</table>
